.content{'data-slug' => 'doe'}
  = form_tag '', class: 'custom' do
    .panel.radius
      .row
        .large-5.columns
          %label.right.inline
            Create new parameter group with a DoE method:
        .large-5.columns
          = select_tag 'doe_type', select_doe_type
        .large-2.columns
          = link_to_function 'Create', "doe_manager.createDoeGroup('doe_type');", class: 'button right'

%ul#doe-group-template.pricing-table{'style'=>'display: none;'}
  %li.title Standard
  %li.price.row
    .large-8.columns
      = select_tag('parameters')
    .large-4.columns
      = link_to_function('Add parameter', "doe_manager.addParameterInGroup($(this).closest('ul'))", class: 'button right')
  %li.cta-button= link_to_function 'Delete group', "doe_manager.deleteGroup($(this).closest('ul'))", class: 'button'

- content_for :javascript do
  :javascript
    $(function() {
      doe_manager = new DoeManager();
    });

