- if %w(input_writer executor output_reader progress_monitor).include?(form_row)
  - optional = %w(input_writer output_reader progress_monitor).include?(form_row)
  .small-10.columns.small-centered
    %fieldset
      %legend= t("simulations.registration.#{form_row}") + (optional ? (' (' + t('simulations.registration.optional') + ')') : '')

      .row
        .small-5.columns
          %label.right.inline
            = t("simulations.registration.select_registered_name") + ': '
        .small-7.columns
          = input_element

      .row
        .small-5.columns
          %label.right.inline
            %input(type="checkbox" id="#{form_row}_box" style="display: inline;")
              = t('simulations.registration.select_file')
        .small-7.columns
          = file_field_tag(form_row, disabled: 'disabled')
          %small(id="#{form_row}_error_msg" class="error") Datafile is required
      .row{id: "#{form_row}_name_row"}
        .small-5.columns
          %label.right.inline
            = t("simulations.registration.provide_name") + ': '
        .small-7.columns
          = text_field_tag "#{form_row}_name", '', disabled: 'disabled'
          %small(class="error") Filename is required
  = content_for :javascript do
    :javascript
      $(function() {
        update_rows = function() {
          if($(this).is(':checked')) {
            $("##{form_row}_id").disable();
            $("##{form_row}").enable();
            $("##{form_row}").attr('required','required');
            $("##{form_row}_name").enable();
            $("##{form_row}_name_row").show();
            $("##{form_row}_name").attr('required','required');
            $("##{form_row}_error_msg").removeAttr("style");
          } else {
            $("##{form_row}_id").enable();
            $("##{form_row}").disable();
            $("##{form_row}").removeAttr('required');
            $("##{form_row}_name").disable();
            $("##{form_row}_name_row").hide();
            $("##{form_row}_name").removeAttr('required');
          //  console.debug("AS");
            document.getElementById("#{form_row}_error_msg").style.display="none"
          }
        }

        $("##{form_row}_box").on('change', update_rows);
        $("##{form_row}_box").change();
      });


- else
  .small-10.columns.small-centered.large-6.large-uncentered(class="large-offset-#{offset}")
    %label
      = t("simulations.registration.#{form_row}")
      = input_element

