- if %w(input_writer executor output_reader progress_monitor).include?(form_row)
  .small-10.columns.small-centered
    %fieldset
      %legend= t("simulations.registration.#{form_row}")

      .row
        .small-5.columns
          %label.right.inline
            = "Select a registered name"
        .small-7.columns
          = input_element

      .row
        .small-5.columns
          %label.right.inline
            %input(type="checkbox" id="#{form_row}_box" style="display: inline;")
              = t('simulations.registration.select_file')
        .small-7.columns
          = file_field_tag(form_row, disabled: 'disabled')

      .row
        .small-5.columns
          %label.right.inline
            = "and provide a name"
        .small-7.columns
          = text_field_tag "#{form_row}_name", '', disabled: 'disabled'

  = content_for :javascript do
    :javascript
      $(function() {
        $("##{form_row}_box").on('change', function() {
          if($(this).is(':checked')) {
            $("##{form_row}_id").prop( "disabled", true );
            $("##{form_row}").prop( "disabled", false );
            $("##{form_row}_name").prop( "disabled", false );
          } else {
            $("##{form_row}").prop( "disabled", true );
            $("##{form_row}_id").prop( "disabled", false );
            $("##{form_row}_name").prop( "disabled", true );
          }
        });
      });


- else
  .small-10.columns.small-centered.large-6.large-uncentered(class="large-offset-#{offset}")
    %label
      = t("simulations.registration.#{form_row}")
      = input_element

