= form_tag(start_import_based_experiment_experiments_path, multipart: true, class: 'custom', id:'import-form') do
  = hidden_field_tag 'simulation_id', @simulation._id

  %h3.subheader= t('.header')

  .content
    .row
      .small-5.columns
        = label_tag :parameter_space_file, t('.import_label'), class: 'right inline'
      .small-3.columns
        = file_field_tag :parameter_space_file
      .small-4.columns
        %span#import_submit.button.radius.small= t('.submit_import')
    .row
      .small-12.columns#parameter_selection

    %hr
    .row.submit-section
      = hidden_field_tag 'imported-experiment-size-url', calculate_imported_experiment_size_experiments_path

      .row
        .small-6.columns
          = label_tag :replication_level, t('simulations.conduct_experiment.replication_level_label') + ':', class: 'right inline'
        .small-6.columns
          = text_field_tag 'replication_level', 1
      .row
        .small-6.columns
          = label_tag :execution_time_constraint, t('simulations.conduct_experiment.time_constraint_label') + ':', class: 'right inline'
        .small-6.columns
          = text_field_tag 'execution_time_constraint', 60

      = submit_tag t('simulations.conduct_experiment.submit_button'), class: 'button radius last-element', disabled: 'disabled'
      %span#check-imported-experiment-size.button.radius.last-element.disabled= t('simulations.conduct_experiment.experiment_size_button')
      = image_tag 'loading.gif', id: 'conduct-inport-loading', style: 'display: none;'

    = content_for :javascript do
      = javascript_include_tag "simulations_utils"
      :javascript
        $(function() {
          window.bindImportParameterSpaceListeners("#{simulations_upload_parameter_space_path}");
        });