= form_tag(start_import_based_experiment_experiments_path, multipart: true, class: 'custom') do
  = hidden_field_tag 'simulation_id', @simulation._id

  %h3.subheader= t('.header')

  .content
    .row
      .small-5.columns
        = label_tag :parameter_space_file, t('.import_label'), class: 'right inline'
      .small-3.columns
        = file_field_tag :parameter_space_file
      .small-4.columns
        %span#import_submit.button.radius.small= t('.submit_import')
    .row
      .small-12.columns#parameter_selection

    %hr
    .row.submit-section
      = hidden_field_tag 'imported-experiment-size-url', calculate_imported_experiment_size_experiments_path
      .row
        .small-6.columns
          = label_tag :execution_time_constraint, t('simulations.conduct_experiment.time_constraint_label') + ':',
            class: 'right inline'
        .small-3.columns
          = text_field_tag 'execution_time_constraint', 3600
        .small-1.columns
      -#.row
      -#  .small-6.columns(style="text-align: right;")= t('.repeatation_label') + ':'
      -#  .small-6.columns
      -#    = text_field_tag 'run_index', 1
      = hidden_field_tag 'run_index', 1

      = submit_tag t('simulations.conduct_experiment.submit_button'), class: 'button radius last-element'
      %span#check-imported-experiment-size.button.radius.last-element.disabled= t('simulations.conduct_experiment.experiment_size_button')

    = content_for :javascript do
      = javascript_include_tag "simulations_utils"
      :javascript
        $(function() {
          window.bindImportParameterSpaceListeners("#{simulations_upload_parameter_space_path}");
        });