.content{'data-slug' => 'parametrization_types', style: ''}
  %h3.subheader
    Here you can specify type of parametrization for each input parameter
  .accordion-container
    - parameter_id = 0
    - @simulation_input.each do |entity_group|
      = content_tag :h3, "Entities of group '#{entity_group['label']}'"
      %div
        .accordion-container
          - entity_group['entities'].each do |entity|
            = content_tag :h3, "Entity '#{entity['label']}'"
            %div
              - entity['parameters'].each do |parameter|
                - parameter_id += 1
                = form_tag '', class: 'custom' do
                  = content_tag :div, :class => "row #{(parameter.include?('value') ? 'hidden' : '')}" do
                    .small-5.columns
                      = label_tag "Set '#{parameter['label']}' to:", nil, class: 'inline'
                    .small-7.columns
                      = parametrization_options(parameter, parameter_id)
                = javascript_tag "parametrizationTypeListener(#{parameter_id}, '#{entity_group['id']}', '#{entity['id']}', '#{parameter['id']}');"

:javascript
  $(function() {
    $(".accordion-container").accordion({
        collapsible: true,
        heightStyle: "content"
    });
  });
