<div id='parametrization_types'>
  <%= content_tag :p, "Here you can specify type of parametrization for each input parameter" %>

  <div class="accordion-container">
    <% parameter_id = 0 %>
    <% @simulation_input.each do |entity_group| %>
        <%= content_tag :h3, "Entities of group '#{entity_group["label"]}'" %>
        <div>
          <!--<p>Set all parameters of every entity to: </p>-->

          <div class='accordion-container'>
            <% entity_group['entities'].each do |entity| %>
                <%= content_tag :h3, "Entity '#{entity['label']}'" %>
                <div>
                  <!--<p>Set all parameters of this entity to: </p>-->

                  <% entity['parameters'].each do |parameter| %>
                    <% parameter_id += 1 %>

                    <%= content_tag :p, :class => (parameter.include?('value') ? 'hidden' : '') do %>
                      Set '<%= parameter['label'] %>' to:
                      <%= parametrization_options(parameter, parameter_id) %>
                    <% end %>

                    <%= javascript_tag "parametrizationTypeListener(#{parameter_id}, '#{entity_group['id']}', '#{entity['id']}', '#{parameter['id']}');" %>
                <% end %>
                </div>

            <% end %>
          </div>

        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".accordion-container").accordion({
        collapsible: true,
        heightStyle: "content"
    });
  });
</script>