<div class="panel radius">
  <%= content_tag :h4, t('registered_executors_list.label'), class: 'subheader' %>

  <ul class="no-bullet">
    <% @executors.each do |executor| %>
        <%= content_tag :li do %>
            <%= form_tag simulations_destroy_component_path do %>
                <%= hidden_field_tag 'component_type', 'executor' %>
                <%= hidden_field_tag 'component_id', executor._id %>
                <%= content_tag :strong, executor.name %>
                <%= submit_tag 'Destroy', class: 'button' %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>