<div class="panel radius">
  <%= content_tag :h4, t('registered_output_readers_list.label'), class: 'subheader' %>

  <ul class="no-bullet">
    <% @output_readers.each do |output_reader| %>
        <%= content_tag :li do %>
            <%= form_tag simulations_destroy_component_path do %>
                <%= hidden_field_tag 'component_type', 'output_reader' %>
                <%= hidden_field_tag 'component_id', output_reader._id %>
                <%= content_tag :strong, output_reader.name %>
                <%= submit_tag 'Destroy', class: 'button' %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>