<section>
  <%= content_tag :h3, "Registered Simulation Executors" %>

  <ul>
    <% @executors.each do |executor| %>
        <%= content_tag :li do %>
            <%= form_tag simulations_destroy_component_path do %>
                <%= hidden_field_tag "component_type", "executor" %>
                <%= hidden_field_tag "component_id", executor._id %>
                <%= executor.name %>
                <%= submit_tag "Destroy" %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</section>
<%= javascript_tag "$(function() { $('input[type=submit]').button({}); });" %>