<section>
  <%= content_tag :h3, "Registered Simulation Input Writers" %>

  <ul>
    <% @input_writers.each do |input_writer| %>
        <%= content_tag :li do %>
            <%= form_tag simulations_destroy_component_path do %>
                <%= hidden_field_tag "component_type", "input_writer" %>
                <%= hidden_field_tag "component_id", input_writer._id %>
                <%= input_writer.name %>
                <%= submit_tag "Destroy" %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</section>
<%= javascript_tag "$(function() { $('input[type=submit]').button({}); });" %>