%section.panel.radius.minimized
  %h3.subheader= t('registered_progress_monitors_list.label')

  .content
    - if @progress_monitors.empty?
      .panel.callout.radius
        %h4.subheader= t('registered_progress_monitors_list.empty_list')

    - else
      - @progress_monitors.each do |progress_monitor|
        - is_last = progress_monitor == @progress_monitors.last
        = form_tag simulations_destroy_component_path do
          = hidden_field_tag 'component_type', 'progress_monitor'
          = hidden_field_tag 'component_id', progress_monitor._id

          .row
            .small-8.columns
              %h4.subheader= progress_monitor.name
            .small-4.columns
              = submit_tag t('simulations.deregister_button'), class: "button radius #{'last-element' if is_last}"
