%section.panel.radius.minimized
  %h3.subheader= t('registered_output_readers_list.label')

  .content
    - if @output_readers.empty?
      .panel.callout.radius
        %h4.subheader= raw t('registered_output_readers_list.empty_list')

    - else
      - @output_readers.each do |output_reader|
        - is_last = output_reader == @output_readers.last
        = form_tag simulations_destroy_component_path do
          = hidden_field_tag 'component_type', 'output_reader'
          = hidden_field_tag 'component_id', output_reader._id

          .row
            .small-8.columns
              %h4.subheader= output_reader.name
            .small-4.columns
              - scenarios_with_adapter = Simulation.where(output_reader_id: executor.id).map(&:name)
              - if scenarios_with_adapter.blank?
                = submit_tag t('simulations.deregister_button'), class: "button radius #{'last-element' if is_last}"
              - else
                %span.has-tip{"data-tooltip" => "", "aria-haspopup" => true,
                              "title" => t('simulations.adapter_in_use_scenarios', scenarios: scenarios_with_adapter.join(", "))}
                  = t('simulations.adapter_in_use')

