%section.panel.radius.minimized
  %h3.subheader= t('registered_simulation_scenario_list.label')

  .content
    - if @simulations.empty?
      .panel.callout.radius
        %h4.subheader= raw t('simulation_scenario_list.empty_list')

    - else
      %table.simulations
        %tr
          %th= t('simulations.registration.simulation_name')
          %th(colspan="2")= t('simulation_scenarios.index.registered_table.adapters')
          %th(style="width: 180px;")
        - @simulations.each do |simulation|
          %tr
            %td
              %span.has-tip{'data-tooltip' => '', 'title' => simulation.description}= simulation.name
            %td(colspan="2" style="text-align: left;")
              %ul
                %li
                  %strong= t('simulations.registration.input_writer')
                  \:
                  = simulation.input_writer.nil? ? t('simulations.empty_component') : simulation.input_writer.name
                %li
                  %strong= t('simulations.registration.executor')
                  \:
                  = simulation.executor.nil? ? t('simulations.empty_component') : simulation.executor.name
                %li
                  %strong= t('simulations.registration.output_reader')
                  \:
                  = simulation.output_reader.nil? ? t('simulations.empty_component') : simulation.output_reader.name
                %li
                  %strong= t('simulations.registration.progress_monitor')
                  \:
                  = simulation.progress_monitor.nil? ? t('simulations.empty_component') : simulation.progress_monitor.name
            %td.actions
              - font_size = 'font-size: 16px;'
              %ul.button-group
                %li
                  = link_to content_tag(:i, '', class: 'fi-download', style: font_size),
                    code_base_simulation_scenario_path(simulation.id), class: 'button tiny radius',
                    title: t('simulation_scenarios.show.code_base')
                %li
                  = link_to content_tag(:i, '', class: 'fi-page-edit', style: font_size),
                    edit_simulation_scenario_path(simulation.id), class: 'button tiny radius',
                    title: t('simulations.edit_button')
                %li
                  = link_to content_tag(:i, '', class: 'fi-trash', style: font_size),
                    simulation_scenario_path(simulation.id), class: 'button tiny radius alert',
                    title: t('simulations.deregister_button'), method: :delete
