%section.panel.radius
  = content_tag :h3, t('registered_input_writers_list.label'), class: 'subheader'

  - if @input_writers.empty?
    .panel.callout.radius
      = content_tag :h4, t('registered_input_writers_list.empty_list'), class: 'subheader'

  - else
    %ul.no-bullet
      - @input_writers.each do |input_writer|
        = content_tag :li do
          = form_tag simulations_destroy_component_path do
            = hidden_field_tag 'component_type', 'input_writer'
            = hidden_field_tag 'component_id', input_writer._id
            = content_tag :strong, input_writer.name
            = submit_tag t('simulations.deregister_button'), class: 'button'
