<script type="text/javascript">
  var experimentInput = $.parseJSON('<%= raw(@simulation.input_specification.gsub(/\s+/, '')) %>');
</script>

<article id='main'>

  <section class='overview'>
    <%= content_tag :h3, "Simulation information" %>

    <%= content_tag :div, "Name: #{@simulation.name}" %>
    <%= content_tag :div, "Description: #{@simulation.description}" %>
    <%#= content_tag :div, "Input specification: #{@simulation.input_specification}" %>
  </section>

  <section class='simulation_input'>
    <%= content_tag :h3, 'Input specification' %>

    <div class="section-container auto" data-section="" data-options="deep_linking: true;" style="">

      <section class="section active" style="">
        <p class="title" style="left: 0px;"><a href="#parametrization_types">Parametrization</a></p>
        <%= render partial: 'parametrization_tab' %>
      </section>

      <section class="section" style="padding-top: 49px;">
        <p class="title" style="left: 87px;"><a href="#parameters_values_tab">Parameter values</a></p>
        <%= render partial: 'parameters_values_tab' %>
      </section>

      <div class="section" style="">
        <p class="title" style="left: 174px;"><a href="#doe">Design of Experiments</a></p>
        <%= render partial: 'doe_tab' %>
      </div>
    </div>
  </section>

  <section class='submit-section'>
    <%= form_tag start_experiment_experiments_path, onsubmit: 'updateAllInputParameterValues()', id: 'experiment_submit_form' do %>
        <%= hidden_field_tag 'simulation_id', @simulation._id %>
        <%= hidden_field_tag 'experiment_input' %>
        <%= hidden_field_tag 'computing_power' %>
        <%= hidden_field_tag 'doe' %>
        <%= hidden_field_tag 'calculate-experiment-size-url', calculate_experiment_size_experiments_path %>

        <%= submit_tag 'Start experiment', class: 'button' %>
        <%= button_tag 'Calculate experiment size', class: 'button', id: 'check-experiment-size' %>
    <% end %>
  </section>

</article>
