<%= render 'simulation_scenarios' %>

<article>

  <%= render 'simulations' %>

  <%= render 'simulation_input_writers' %>
  <%= render 'simulation_executors' %>
  <%= render 'simulation_output_readers' %>

  <div class="row">
    <div class="small-3 small-centered columns">
        <%= content_tag :div, link_to('Go to registration form', simulations_registration_path, class: 'button') %>
    </div>
  </div>

</article>

