- content_for :title, 'Scalarm - simulations'

= render partial: 'simulation_scenarios', locals: { show_close_button: false }

%section
  .row
    .small-4.small-centered.columns
      = link_to(t('simulations.go_to_registriation'), simulations_registration_path, class: 'button expand radius')

= render 'simulations'

= render 'simulation_input_writers'
= render 'simulation_executors'
= render 'simulation_output_readers'
= render 'simulation_progress_monitors'

- content_for :javascript do
  :javascript
    $(function() {
      window.toggle_panels_on_title_click();
      $('.minimized h3.subheader').click();
    });