<%= render :partial => "simulation_scenarios" %>

<article>

  <%= render :partial => "simulations" %>

  <%= render :partial => "simulation_input_writers" %>
  <%= render :partial => "simulation_executors" %>
  <%= render :partial => "simulation_output_readers" %>

  <section>
    <%= content_tag :h3, "Actions" %>

    <%= content_tag :div, link_to("Go to registration form", simulations_registration_path, :class => "nice_button"), :class => "buttons" %>
  </section>

</article>

