- content_for :title, t('.title')
- content_for :help, raw(t('help.simulations.register'))

%section.panel.radius
  %h3.subheader= t('.experiments_label')

  .content
    = form_tag(simulations_path, multipart: true, class: 'custom') do
      .row
        = render partial: 'form_row', object: 'simulation_name',
          locals: { input_element: text_field_tag('simulation_name'), offset: 0 }
        = render partial: 'form_row', object: 'simulation_description',
          locals: { input_element: text_area_tag('simulation_description'), offset: 0 }

      .row
        %section.panel.radius#input-definition
          .row
            %ul.button-group.right.round
              %li
                %a#input-designer-on.tiny.button.secondary.clicked(href="#") Use designer
              %li
                %a#input-designer-off.tiny.button.secondary(href="#") Upload
            %h4.subheader= "Input definition"
          .row
            #input-designer.hidden
              .row
                .small-4.columns
                  .row
                    %h5.subheader= "Parameters"
                  .row
                    %ul.stack-for-small.radius.button-group
                      %li
                        %a.button.tiny.success#add-param
                          %i.fa.fa-plus.fa-fw
                          = 'Add'
                      %li
                        %a.button.tiny.alert#remove-param
                          %i.fa.fa-minus.fa-fw
                          = 'Remove'
                  .row#params-tree.hidden
                .small-8.columns
                  .row
                    #param-config.hidden
                      %h5.subheader= "Parameter specification"
                      .row
                        .small-3.columns
                          %label.right.inline{for: 'param_id'}= 'Parameter ID:'
                        .small-9.columns
                          %input#param_id{type: 'text', name: 'param_id'}
                      .row
                        .small-3.columns
                          %label.right.inline{for: 'param_label'}= 'Label:'
                        .small-9.columns
                          %input#param_label{type: 'text', name: 'param_label'}
                      .row
                        .small-3.columns
                          %label.right.inline{for: 'param_type'}= 'Type:'
                        .small-9.columns
                          %select#param_type{name: 'param_type'}
                            %option{value: 'integer'}= "Integer"
                            %option{value: 'float'}= "Float"
                            %option{value: 'string'}= "String"

                      .row#param-range.hidden
                        .small-6.columns
                          .row
                            .small-3.columns
                              %label.right.inline{for: 'param_min'}= 'Min:'
                            .small-9.columns
                              %input#param_min{type: 'text', name: 'param_min'}
                        .small-6.columns
                          .row
                            .small-3.columns
                              %label.right.inline{for: 'param_max'}= 'Max:'
                            .small-9.columns
                              %input#param_max{type: 'text', name: 'param_max'}
                      .row#param-allowed.hidden
                        .small-3.columns
                          %label.right.inline{for: 'param_allowed_area'}= 'Allowed values (each in new line):'
                        .small-9.columns
                          %textarea#param_allowed_area{name: 'param_allowed_area', rows: 4}
                      .row#editor-buttons
                        %ul.stack-for-small.radius.button-group
                          %li
                            %a.button.tiny.success#editor-save.disabled
                              %i.fa.fa-save.fa-fw
                              = 'Save changes'
                            %a.button.tiny.alert#editor-discard.disabled
                              %i.fa.fa-undo.fa-fw
                              = 'Discard changes'
                    #unsaved-modal.reveal-modal{'data-reveal' => true}
                      .row
                        = 'There are unsaved changes in parameter editor. Please save them or discard changes.'
                      .row
                        %a#unsaved-ok.button.medium.center= 'OK'


            #input-upload.hidden
              .content
                = render partial: 'form_row', object: 'simulation_input',
                  locals: { input_element: file_field_tag('simulation_input'), offset: 0 }

      .row
        = render partial: 'form_row', object: 'simulation_binaries',
          locals: { input_element: file_field_tag('simulation_binaries'), offset: 0 }

      .row
        = render partial: 'form_row', object: 'input_writer',
          locals: { input_element: select_tag('input_writer_id', options_for_select(@input_writers), class: 'medium') }
        = render partial: 'form_row', object: 'executor',
          locals: { input_element: select_tag('executor_id', options_for_select(@executors), class: 'medium') }
      .row
        = render partial: 'form_row', object: 'output_reader',
          locals: { input_element: select_tag('output_reader_id', options_for_select(@output_readers), class: 'medium') }
        = render partial: 'form_row', object: 'progress_monitor',
          locals: { input_element: select_tag('progress_monitor_id', options_for_select(@progress_monitors), class: 'medium') }

      .row
        .small-2.small-centered.columns
          = submit_tag t('.upload'), class: 'button expand radius last-element'


%section.panel.radius.last-element
  %h3.subheader= t('.component_registration_title')

  .content
    = form_tag(simulations_upload_component_path, :multipart => true) do
      .row
        .small-3.columns= label_tag :component_name, t('.component_name') + ':', class: 'inline right'
        .small-6.columns= text_field_tag 'component_name'
        .small-3.columns

      .row
        .small-3.columns= label_tag :component_code, t('.component_code') + ':', class: 'inline right'
        .small-6.columns= file_field_tag 'component_code'
        .small-3.columns

      .row
        .small-3.columns= label_tag :component_type, t('.component_type') + ':', class: 'inline right'
        .small-6.columns= select_tag('component_type', adapter_types, class: 'medium')
        .small-3.columns


      .row
        .small-2.small-centered.columns
          = submit_tag t('.upload'), class: 'button expand radius last-element'

- content_for :javascript do
  :javascript
    $(function() {
      window.toggle_panels_on_title_click();
      $('.last-element h3:first').click();

      window.scenario_registration = new window.ScenarioRegistration();
    });
