.panel.callout.radius
  = raw t 'infrastructure.information.no_key_note'

- hosts = QcgScheduler::PlGridScheduler.available_hosts

- credentials = GridCredentials.find_by_user_id(@current_user.id)
- grants = PlGridFacade.retrieve_grants(credentials)

.row
  .large-4.columns
    = label_tag :grant_id,  t('infrastructure.information.grant_id') + ':', class: 'inline right'
  .large-4.columns.end
    = select_tag :grant_id, options_for_select(grants)
.row
  .large-4.columns
    = label_tag :plgrid_host,  t('infrastructure.information.plgrid.submission.host') + ':', class: 'inline right'
  .large-4.columns.end
    = select_tag :plgrid_host, options_for_select(hosts)
.row
  .large-4.columns
    = label_tag :nodes, t('infrastructure.information.plgrid.submission.nodes') + ':', class: 'inline right'
  .large-1.columns
    = text_field_tag :nodes, 1, class: 'right'
  .large-2.columns
    = label_tag :ppn, t('infrastructure.information.plgrid.submission.ppn') + ':', class: 'inline right'
  .large-1.columns.end
    = text_field_tag :ppn, 1, class: 'right'
.row
  .large-4.columns
    = label_tag :onsite_monitoring,  t('infrastructure.information.onsite_monitoring') + ':', class: 'inline right'
  .large-4.columns.end
    = check_box_tag :onsite_monitoring, 1, true
