- infrastructure_name = InfrastructureFacadeFactory.get_registered_infrastructure_names.first if infrastructure_name.blank?
- infrastructures_list = infrastructures_list_to_select_data(InfrastructureFacadeFactory.list_infrastructures(current_user.id))
- infrastructures_select_data = infrastructures_list[:data]
- disabled_infrastructures = infrastructures_list[:disabled]

%h2= t('experiments.monitoring_actions.booster.header')

%a.close-reveal-modal &#215;

%dl.accordion(data-accordion)
  %dd
    %a(href="#submission-panel")= t 'infrastructure.information.submission_label'
    .content.active#submission-panel
      #scheduler-form
        = form_tag schedule_simulation_managers_infrastructure_path(format: 'json'), remote: true, class: 'custom' do
          = tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
          .row
            .large-4.columns
              = label_tag :experiment_id, t('infrastructure.information.experiment') + ':', class: 'inline right'
            .large-4.columns
              = select_tag :experiment_id, options_for_select(experiments_select_data(current_user), experiment_id.to_s)
            .large-1.columns
          .row
            .large-4.columns
              = label_tag :infrastructure_name, t('infrastructure.information.infrastructure') + ':', class: 'inline right'
            .large-4.columns
              = select_tag :infrastructure_name, grouped_options_for_select(infrastructures_select_data,
                infrastructure_name)
            .large-1.columns

          .row
            .large-4.columns
              = label_tag :job_counter,  t('infrastructure.information.instance_counter') + ':', class: 'inline right'
            .large-4.columns
              = number_field_tag :job_counter, 1, in: 1..100, step: 1, required: true, class: 'text-right'
            .large-1.columns

          #infrastructure_fields

          .row
            .large-4.columns
              = label_tag :time_limit, t('infrastructure.information.time_constraint') + ':', class: 'inline right'
            .large-4.columns
              = number_field_tag :time_limit, 60, min: 1, step: 1, required: true, class: 'text-right'
            .large-1.columns

          .row
            .large-4.columns
              = label_tag :start_at, t('infrastructure.information.start_at') + ':', class: 'inline right'
            .large-4.columns
              = text_field_tag :start_at
            .large-1.columns

          .row#submit-button
            .large-12.columns.text-center
              = submit_tag t('infrastructure.information.submit'), class: 'button radius'

  %dd
    %a(href="#simulation-managers-panel")= t('infrastructure.information.scheduled_label')
    .content#simulation-managers-panel
      .row
        #simulation-managers.large-12.columns



:javascript
  $(function() {
    $(document).foundation();
    new window.InfrastructuresBooster("#{infrastructure_name}", #{disabled_infrastructures}, "dialog");
  });
