- states_desc = %w(created initializing running terminating error unknown).map do |state|
  - "<li><div class='tooltip-status-square sm-#{state}'/>&nbsp;&nbsp;#{t("infrastructures.sm_dialog.state.#{state}")}</li>"

- state_tooltip = "#{t('infrastructures.state_tooltip')}" + |
  "<ul class='status-tooltip'> #{states_desc.join("\n")} </ul>" |

.row
  %p.small-12.columns
    = "Total count of simulation managers registered for #{long_name}: #{simulation_managers.count}"

.row
  .small-12.columns
    - begin
      %table(style="width: 100%;" )
        %thead
          %tr
            %th= t('infrastructures.resource_id')
            %th{style: 'text-align: center;'}
              %span.has-tip{'data-tooltip' => '', title: state_tooltip}
                %i.fi-info{style: 'color: black;'}
            %th= t('infrastructures.sm_dialog.sm_initialized_at')
            %th= t('infrastructures.sm_dialog.created_at')
            %th= t('infrastructures.sm_dialog.time_limit')
            %th= t('infrastructures.sm_dialog.experiment')
            %th= t('infrastructures.sm_dialog.specific')
        %tbody
          - simulation_managers.each do |record|
            %tr
              - begin
                = render partial: "infrastructures/scheduler/simulation_manager_info",
                    locals: {partial_name: partial_name, record: record}
              - rescue => e
                %td(colspan="7" )
                  - raise e if e.kind_of? ActionView::MissingTemplate
                  =t('infrastructure.information.sm_record_error', error: e.to_s)
    - rescue ActionView::MissingTemplate
      = t('infrastructure.information.sm_record_no_view')

:javascript
  $(function() {
    $(this).foundation('tooltip');
  });