%td= record.resource_id
-# infrastructure-specific info

-# general record info
%td
  %div{class: "status-square sm-#{record.state or 'unknown'}"}
    - if record.state == :error
      -# TODO: show reveal modal with error log when clicked on square
      -#%div.reveal-modal(data-reveal=""){id: "error-details-dialog-#{record.id}"}
      -#  .close-reveal-modal= '&#215'
      -#  %h2= t('infrastructures.error_details_dialog.header')
      -#  %h3= t('infrastructures.sm_dialog.error_message')
      -#  %p= t('infrastructure.information.sm_info.errors.'+record.error, default: record.error)
      -#  - if record.error_log
      -#    %h3= t('infrastructure.information.sm_info.error_log')
      -#    %p= raw(record.error_log.sub("\n", '<br/>'))
      -#
      - error_tooltip = t('infrastructures.sm_dialog.error_message') + ': ' + |
                    t('infrastructure.information.sm_info.errors.'+record.error, default: record.error) |

      %div{id: "error-square-#{record.id}", style: 'width: 100%; height: 100%', title: error_tooltip}
      -#- content_for :javascript do
      -#  :javascript
      -#    $(function() {
      -#      $(#error-square-#{record.id}).on('click', function() {
      -#        window.alert("hello");
      -#        $(#error-details-dialog-#{record.id}).foundation('reveal', 'open');
      -#      });
      -#    });

%td
  - if record.state == :initialized
    =record.sm_initialized_at.strftime('%Y-%m-%d %H:%M:%S')
  - else
    ='-'
%td
  =record.created_at.strftime('%Y-%m-%d %H:%M:%S')
%td
  ="#{record.time_limit.to_s} min"
%td
  = link_to "#{record.experiment.name}", experiment_path(record.experiment_id)
%td
  %ul{style: 'font-size: 1em;'}
    -begin
      = render partial: "infrastructures/scheduler/simulation_managers_info/#{partial_name}", locals: {record: record}
    -rescue ActionView::MissingTemplate => exc
      = exc.to_s
      -# ignore if not found
