-# local variables: experiment, user
- plgrid_secrets_creds = PLCloudSecrets.find_by_user_id(user.id)
- plgrid_image_creds = PLCloudImage.find_all_by_user_id(user.id)
- if plgrid_image_creds.empty?
  -  plgrid_image_creds = nil
- else
  - plgrid_image_creds = plgrid_image_creds.select{|img| img.experiment_id.to_s == experiment.id.to_s}.first

.row
  #plcloud-ajax-response.alert-box.radius(style="display: none;")

.row
  %dl.accordion(data-accordion="")
    %dd
      %a(href='#plcloud-submission-panel') Start virtual machines in the Cloud
      .content#plcloud-submission-panel
        %p
          = form_tag schedule_simulation_managers_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag 'experiment_id', experiment.id
            = hidden_field_tag 'infrastructure_type', 'plcloud'
            = hidden_field_tag 'security_group', 'quicklaunch-1'

            .row
              .small-4.columns
                = label_tag t('.submission.instance_counter'), nil, class: 'inline right'
              .small-4.columns
                = text_field_tag :job_counter
              .small-4.columns
            - images = PLCloudImage.all.map{|i| ["#{i.image_id} --- #{i.login}", i.id]}
            .row
              .small-4.columns
                = label_tag t('.submission.image'), nil, class: 'inline right'
              .small-4.columns
                = select_tag :image_id, options_for_select(images)
              .small-4.columns

            .row
              .small-4.columns
                = label_tag t('infrastructure.information.time_constraint'), nil, class: 'inline right'
              .small-4.columns
                = text_field_tag :time_limit
              .small-4.columns

            .row
              .small-4.columns
                = label_tag t('infrastructure.information.start_at'), nil, class: 'inline right'
              .small-4.columns
                = text_field_tag :start_at
              .small-4.columns

            .row
              .small-12.columns.text-center
                = submit_tag 'Submit', class: 'button radius'
                = image_tag 'loading.gif', class: 'plcloud-submission-busy', style: 'display: none;'

            .row
              .small-12.columns
                #plcloud-submission-ajax-response
    %dd
      %a(href='#plgrid-credentials') PLGrid Cloud credentials
      .content#plgrid-credentials
        %p
          = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag 'infrastructure_type', 'plcloud'
            = hidden_field_tag 'credential_type', 'secrets'

            %fieldset
              %legend= t('infrastructure.information.plcloud.login.title')

              .row
                .small-4.columns
                  = label_tag t('.login.username'), nil, class: 'inline right'
                .small-4.columns
                  = text_field_tag :login, plgrid_secrets_creds.nil? ? '' : plgrid_secrets_creds.login
                .small-4.columns
              .row
                .small-4.columns
                  = label_tag t('.login.password'), nil, class: 'inline right'
                .small-4.columns
                  = password_field_tag :password, plgrid_secrets_creds.nil? ? '' : plgrid_secrets_creds.password
                .small-4.columns
              .row
                .small-4.columns
                  = label_tag t('.login.save'), nil, class: 'inline right'
                .small-4.columns
                  = check_box_tag :save_settings, '1', (not plgrid_secrets_creds.nil?)
                .small-4.columns
              .row
                .small-12.columns.text-center
                  = submit_tag 'Submit', class: 'button radius'
                  = image_tag 'loading.gif', id: 'plgrid-configure-busy', style: 'display: none;'

          = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag 'infrastructure_type', 'plcloud'
            = hidden_field_tag 'credential_type', 'image'
            = hidden_field_tag 'experiment_id', experiment.id

            %fieldset
              %legend= t('.image.title')
              .row
                .small-4.columns
                  = label_tag t('.image.image_id'), nil, class: 'inline right'
                .small-4.columns
                  = text_field_tag :image_id, plgrid_image_creds.nil? ? '' : plgrid_image_creds.ami_id
                .small-4.columns
              .row
                .small-4.columns
                  = label_tag t('.image.login'), nil, class: 'inline right'
                .small-4.columns
                  = text_field_tag :image_login, plgrid_image_creds.nil? ? '' : plgrid_image_creds.login
                .small-4.columns
              .row
                .small-4.columns
                  = label_tag t('.image.password'), nil, class: 'inline right'
                .small-4.columns
                  = password_field_tag :image_password, plgrid_image_creds.nil? ? '' : plgrid_image_creds.password
                .small-4.columns
              .row
                .small-4.columns
                  = label_tag t('.image.session_only'), nil, class: 'inline right'
                .small-4.columns
                  = check_box_tag :store_image_in_session, '1', false
                .small-4.columns

              .row
                .small-12.columns.text-center
                  = submit_tag 'Submit', class: 'button radius'
                  = image_tag 'loading.gif', class: 'plcloud-credentials-busy', style: 'display: none;'

    %dd
      %a(href='#plcloud-vms') Scheduled virtual machines
      .content#plcloud-vms
        %p
          %p= @current_states[:plcloud]
          %ul.circle
            - @simulation_managers[:plcloud].each do |virtual_machine|
              %li= virtual_machine

:javascript
  $(function() {
    new window.PLCloudManager();

    $('p').each(function(index, element) {
      if($(element).html() == "") {
        $(element).remove();
      }
    });
  });
