- credentials = GridCredentials.find_by_user_id(user.id)

.section-container.accordion{'data-section' => 'accordion'}
  %section#plgrid-submission-tab
    %p.title{'data-section-title' => ''}
      %a{'href' => '#plgrid-submission-panel'} Job submission
      .content{'data-section-content' => ''}
        %p
          = form_tag schedule_simulation_managers_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag 'experiment_id', experiment.experiment_id
            = hidden_field_tag 'infrastructure_type', 'plgrid'
            .row
              .small-6.columns
                = label_tag 'Number of jobs:', nil, class: 'inline right'
              .small-6.columns
                = text_field_tag :job_counter
            .row
              .small-6.columns
                = label_tag 'Scheduler:', nil, class: 'inline right'
              .small-6.columns
                = select_tag :scheduler, options_for_select([ ['Portable Batch System', 'qsub'], ['gLite', 'glite'] ])
            .row
              .small-6.columns
                = label_tag 'Job time constraint [min]:', nil, class: 'inline right'
              .small-6.columns
                = text_field_tag :time_limit

            .row
              %ul.inline-list
                %li= submit_tag 'Submit', class: 'small button'
                %li= image_tag 'loading.gif', id: 'plgrid-submission-busy', style: 'display: none;'

  %section#plgrid-login-tab
    %p.title{'data-section-title' => ''}
      %a{'href' => '#plgrid-login-form-panel'} Login form
      .content{'data-section-content' => ''}
        %p
          = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag 'infrastructure_type', 'plgrid'

            %h5.subheader= 'Please, provide credentials to access PL-Grid'

            .row
              .small-4.columns
                = label_tag 'UI host:', nil, class: 'inline right'
              .small-8.columns
                = text_field_tag :host, credentials.nil? ? '' : credentials.host
            .row
              .small-4.columns
                = label_tag 'Username:', nil, class: 'inline right'
              .small-8.columns
                = text_field_tag :username, credentials.nil? ? '' : credentials.login
            .row
              .small-4.columns
                = label_tag 'Password:', nil, class: 'inline right'
              .small-8.columns
                = password_field_tag :password, credentials.nil? ? '' : credentials.password
            .row
              .small-4.columns
                = label_tag 'Save settings:', nil, class: 'inline right'
              .small-8.columns
                = check_box_tag :save_settings, '1', (not credentials.nil?), style: 'display: none;'
            .row
              %ul.inline-list
                %li= submit_tag 'Submit', class: 'button small'
                %li= image_tag 'loading.gif', id: 'plgrid-configure-busy', style: 'display: none;'
          #plgrid-login-ajax-response

  %section#plgrid-jobs-tab
    %p.title{'data-section-title' => ''}
      %a{'href' => '#plgrid-jobs-panel'} Scheduled jobs
      .content{'data-section-content' => ''}
        %p
          %p{ id: 'plgrid_info' }= @current_states[:plgrid]
          %ul.circle
            - @simulation_managers[:plgrid].each do |plgrid_job|
              %li= plgrid_job.to_s

:javascript
  $(function() {
    if(#{ credentials.nil? }) {
      $('#plgrid-submission-tab form').addClass('disabled');
      $('#plgrid-login-tab').addClass('active');
    } else {
      $('#plgrid-submission-tab').addClass('active');
    }

    $("#plgrid-login-tab form")
      .bind('ajax:before', function() {
        $('#plgrid-configure-busy').show();
        $('#plgrid-login-ajax-response').html('');
      })
      .bind('ajax:success', function(data, status, xhr) { $('#plgrid-login-ajax-response').html('Your credentials have been updated'); })
      .bind('ajax:failure', function(xhr, status, error) { $('#plgrid-login-ajax-response').html('An erroc occured'); })
      .bind('ajax:complete', function() { $('#plgrid-configure-busy').hide(); });

    $("#plgrid-submission-tab form")
          .bind('ajax:before', function() { $('#plgrid-submission-busy').show(); booster.afterSubmit(); })
          .bind('ajax:success', function(data, response, xhr) { booster.onSuccess(response.msg); })
          .bind('ajax:complete', function() { $('#plgrid-submission-busy').hide(); $('#loading-img').hide(); });


    $('p').each(function(index, element) {
      if($(element).html() == "") {
        $(element).remove();
      }
    });
  });
