- credentials = GridCredentials.find_by_user_id(user.id)

%div{ id: 'plgrid-login-form', class: 'wide-label' }
  %h3= 'Please, provide credentials to access PL-Grid'
  %div
    = label_tag 'PL-Grid access host:'
    = text_field_tag :plgrid_host, credentials.nil? ? '' : credentials.host
  %div
    = label_tag 'Username:'
    = text_field_tag :plgrid_username, credentials.nil? ? '' : credentials.login
  %div
    = label_tag 'Password:'
    = password_field_tag :plgrid_password, credentials.nil? ? '' : credentials.password
  %div
    = label_tag :plgrid_save_settings, 'Save settings:'
    = check_box_tag :plgrid_save_settings, '1', (not credentials.nil?)
  %br
  .buttons
    = submit_tag 'Submit'
    = image_tag 'loading.gif', id: 'plgrid-configure-busy', style: 'display: none;'

%br

%div{ id: 'plgrid-booster-form', class: 'wide-label' }
  %p{ id: 'plgrid_info' }
  %div
    = label_tag 'Number of jobs:'
    = text_field_tag :job_counter
  %div
    = label_tag 'Job time constraint [min]:'
    = text_field_tag :time_limit
  .buttons
    = submit_tag 'Submit', class: 'nice_button'
    = button_to_function 'Edit credentials', "$('#plgrid-booster-form').hide(); $('#plgrid-login-form').show();", class: 'nice_button'

:javascript
  $(function() {
    if(#{ credentials.nil?}) {
      $('#plgrid-booster-form').hide();
    } else {
      $('#plgrid-login-form').hide();
    }

    $("#plgrid-login-form input[type='submit']").bind('click', function() {
      $('#plgrid-configure-busy').show();

      data = {
        'host': $('#plgrid_host').val(),
        'username': $('#plgrid_username').val(),
        'password': $('#plgrid_password').val(),
        'save_settings': $('#plgrid_save_settings').prop('checked'),
        'infrastructure_type': 'plgrid',
        'user_id': #{session[:user]},
        'authenticity_token': '#{form_authenticity_token}'
      };

      $.post("#{ add_infrastructure_credentials_infrastructure_path }", data,
            function(response) {
              if(response.status == 'ok') {
                $('#plgrid-login-form').hide();
                $('#plgrid-booster-form').show();
              }
              $('#plgrid-configure-busy').hide();
            }, 'json');

      return false;
    });

    $("#plgrid-booster-form input[type='submit']").bind('click', function() {
      data = {
        'infrastructure_type': 'plgrid',
        'experiment_id': #{experiment.id},
        'user_id': #{session[:user]},
        'job_counter': $('#job_counter').val(),
        'time_limit': $('#time_limit').val(),
        'authenticity_token': '#{form_authenticity_token}'
      };
      $.post("#{ schedule_simulation_managers_infrastructure_path }", data,
      function(response) {
          booster.onSuccess(response.msg);
      }, 'json');
      booster.afterSubmit();

      return false;
    });
  });
