-# local variables: experiment, user
- machines = PrivateMachineCredentials.find_all_by_user_id(user.id).map{|mach| [mach.machine_desc, mach.id]}

%dl.accordion(data-accordion="")
  %dd
    %a(href="#submission-panel-private-machine")= t 'infrastructure.information.submission_label'
    .content{id: 'submission-panel-private-machine'}
      %p
        = form_tag schedule_simulation_managers_infrastructure_path, remote: true, class: 'custom' do
          = hidden_field_tag :experiment_id, experiment.id
          = hidden_field_tag :infrastructure_type, 'private_machine'

          .row
            .small-4.columns
              = label_tag :job_counter, t('infrastructure.information.instance_counter') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :job_counter
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :credentials_id, t('.machine_id') + ':', class: 'inline right'
            .small-4.columns
              = select_tag :credentials_id, options_for_select(machines)
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :time_limit, t('infrastructure.information.time_constraint') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :time_limit
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :start_at, t('infrastructure.information.start_at') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :start_at
            .small-4.columns
          .row
            .small-12.columns.text-center
              = submit_tag t('infrastructure.information.submit'), class: 'button radius'
  %dd
    %a(href='#private-machine-scheduled-panel')= t('infrastructure.information.scheduled_label')
    #private-machine-scheduled-panel.content
      .row.columns.small-1.small-centered
        = image_tag('loading.gif')

:javascript
  $(function() {
    $('#private-machine-scheduled-panel').load(
      '#{simulation_managers_info_infrastructure_path(infrastructure_name: 'private_machine')}'
    )
  });
