-# local variables: experiment, user
- machines = PrivateMachineCredentials.find_all_by_user_id(user.id).map{|mach| [mach.machine_desc, mach.id]}

%dl.accordion(data-accordion="")
  %dd
    %a(href="#submission-panel-private-machine")= t 'infrastructure.information.submission_label'
    .content{id: 'submission-panel-private-machine'}
      %p
        = form_tag schedule_simulation_managers_infrastructure_path, remote: true, class: 'custom' do
          = hidden_field_tag :experiment_id, experiment.id
          = hidden_field_tag :infrastructure_type, 'private_machine'

          .row
            .small-4.columns
              = label_tag :job_counter, t('infrastructure.information.instance_counter') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :job_counter
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :machine_desc, t('.machine_id') + ':', class: 'inline right'
            .small-4.columns
              = select_tag :machine_desc, options_for_select(machines)
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :time_limit, t('infrastructure.information.time_constraint') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :time_limit
            .small-4.columns
          .row
            .small-4.columns
              = label_tag :start_at, t('infrastructure.information.start_at') + ':', class: 'inline right'
            .small-4.columns
              = text_field_tag :start_at
            .small-4.columns
          .row
            .small-12.columns.text-center
              = submit_tag t('infrastructure.information.submit'), class: 'button radius'
  %dd
    %a(href='#private-machine-scheduled-panel')= t('infrastructure.information.scheduled_label')
    #private-machine-scheduled-panel.content
      %p
        %p= @current_states[:private_machine]
        %ul.circle
          - @simulation_managers[:private_machine].each do |record|
            %li
              - begin
                %strong= t('.sm_info.machine_desc') + ': '
                =record.credentials.machine_desc.to_s + ', '
                %strong= t('.sm_info.pid') + ': '
                =(record.pid ? record.pid.to_s : '-') + ', '
                %strong= t('infrastructure.information.launched_at') + ': '
                =record.created_at.to_s + ', '
                %strong= t('infrastructure.information.time_limit') + ': '
                =record.time_limit.to_s
                %br
                %strong= t('infrastructure.information.experiment_id') + ': '
                =record.experiment_id.to_s
                - if record.error
                  %br
                  %strong= t('.sm_info.error') + ': '
                  =record.error.to_s
                  - if record.error_log
                    %br
                    %strong= t('.sm_info.error_log') + ': '
                    %br
                    =raw(record.error_log.sub('\n', '<br/>'))

              - rescue Exception => e
                =t('infrastructure.information.sm_record_error', error: e.to_s)
