- credentials = CloudSecrets.find_by_query('cloud_name'=>'amazon', 'user_id'=>@current_user.id)

.row#amazon-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = hidden_field_tag 'infrastructure_type', 'amazon'
    = hidden_field_tag 'credential_type', 'secrets'

    %h5.subheader= t('.credentials_label')

    .row
      .small-4.columns
        = label_tag :stored_secret_access_key_id, t('.credentials.secrets') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_secret_access_key_id, credentials.nil? ? '' : credentials.secret_access_key_id
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_secret_access_key, t('.credentials.secret_key') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :stored_secret_access_key, credentials.nil? ? '' : credentials.secret_access_key
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit') , class: 'button radius'

= content_for :javascript do
  :javascript
    $(function() {
      new window.CredentialsDialog('amazon',
        '#{credentials ? credentials.id : ''}', 'amazon',
        '#{credentials_state(credentials, @current_user, 'amazon')}');
    });
