- amazon_secrets_creds = CloudSecrets.find_by_query('cloud_name'=>'amazon', 'user_id'=>user.id)

%row#amazon-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = hidden_field_tag 'infrastructure_type', 'amazon'
    = hidden_field_tag 'credential_type', 'secrets'

    %h5.subheader= t('.credentials_label')

    .row
      .small-4.columns
        = label_tag :stored_secret_access_key_id, t('.credentials.secrets') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_secret_access_key_id, amazon_secrets_creds.nil? ? '' : amazon_secrets_creds.secret_access_key_id
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_secret_access_key, t('.credentials.secret_key') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_secret_access_key, amazon_secrets_creds.nil? ? '' : amazon_secrets_creds.secret_access_key
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :store_secrets_in_session, t('.credentials.store_in_session') + ':', class: 'inline right'
      .small-4.columns
        = check_box_tag :store_secrets_in_session, '1', true
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit') , class: 'button radius'

.row#amazon-remove-panel
  .small-12.columns.text-center
    = button_to t('infrastructure.information.remove_credentials'),
      remove_credentials_infrastructure_path(user_id: @current_user.id, cloud_name: 'amazon'),
        class: "remove-button button radius tiny alert", id: 'remove-button', remote: true, form: { "data-type" => "json" }
    = image_tag 'loading.gif', class: 'amazon-busy', style: 'display: none;'

= content_for :javascript do
  :javascript
    $(function() {
      new window.CredentialsDialog('amazon-credentials-panel',
                                   'amazon-remove-panel',
                                   '.amazon-busy');
    });
