-# local variables: experiment, user
- require 'infrastructure_facades/clouds/cloud_facade_factory'

-#.row{class: 'panel callout radius'}
-#  = raw t('.info', account_link: link_to('account', user_controller_account_path))

.row
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
    = hidden_field_tag 'credential_type', 'image'
    .row
      .small-4.columns
        = label_tag :infrastructure_name, t('infrastructure.credentials.images_manager.cloud_name') + ':', class: 'inline right'
      .small-4.columns#cloud-select
        = select_tag :infrastructure_name, options_for_select(CloudFacadeFactory.instance.provider_names_select(current_user.id))
      .small-4.columns
    - CloudFacadeFactory.instance.provider_names.each do |cloud_name|
      - secrets = CloudSecrets.find_by_query('cloud_name'=>cloud_name, 'user_id'=>current_user.id)
      .row{id: "image-id-row-#{cloud_name}"}
        .small-4.columns
          = label_tag :image_info, t('infrastructure.credentials.images_manager.image_id') + ':', class: 'inline right'
        .small-4.columns{id: "#select-#{cloud_name}"}
          - unless secrets.nil?
            - begin
              - imgs_info = CloudFacadeFactory.instance.client_class(cloud_name).new(secrets).all_images_info
              - select_hash = Hash[imgs_info.map{|id, info| ["#{id} (#{info})", "#{id};#{info}"]}]
              = select_tag :image_info, options_for_select(select_hash)
            - rescue # image ids cannot be fetched - wrong credentials?
              - secrets = nil
          - if secrets.nil?
            = text_field_tag :image_info, ''
        .small-4.columns

    .row
      .small-4.columns
        = label_tag :image_login, t('infrastructure.credentials.images_manager.login') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :image_login, ''
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :secret_image_password, t('infrastructure.credentials.images_manager.password') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :secret_image_password, '', autocomplete: :off
      .small-4.columns

    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit'), class: 'button radius'

= content_for :javascript do
  :javascript
    $(function() {
      new window.TableCredentialsManager('cloud_image');
      new window.CloudImagesSelector();
    });
