- credentials = CloudSecrets.find_by_query(cloud_name: 'google', user_id: @current_user.id)

%row#google-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, class: 'custom', multipart: true, remote: true do
    = hidden_field_tag 'infrastructure_type', 'google'
    = hidden_field_tag 'credential_type', 'secrets'

    %h5.subheader= t('.credentials_label')

    .row
      .small-4.columns
        = label_tag :stored_project, t('.credentials.project_id') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_project, credentials.nil? ? '' : credentials.project
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_gservice_email, t('.credentials.gservice_email') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_gservice_email, credentials.nil? ? '' : credentials.gservice_email
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :upload_secret_key_file, t('.credentials.private_key') + ':', class: 'inline right'
      .small-4.columns
        = file_field_tag :upload_secret_key_file
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_secret_key_passphrase, t('.credentials.key_passphrase') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :stored_secret_key_passphrase, credentials.nil? ? '' : credentials.key_passphrase
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit') , class: 'button radius'

.row#google-remove-panel
  .small-12.columns.text-center
    = button_to t('infrastructure.information.remove_credentials'),
      remove_credentials_infrastructure_path(user_id: @current_user.id, credential_type: 'secrets', infrastructure_name: 'google'),
        class: "remove-button button radius tiny alert last-element", id: 'remove-button', remote: true, form: { "data-type" => "json" }

.row
  .small-12.columns.text-center
    = image_tag 'loading.gif', id: "google-busy", class: 'hidden'

= content_for :javascript do
  :javascript
    $(function() {
      new window.CredentialsDialog('google',
        '#{credentials ? (credentials.invalid ? 'alert' : 'ok') : 'lack'}');
    });
