- pl_cloud_secrets_creds = CloudSecrets.find_by_query('cloud_name'=>'pl_cloud', 'user_id'=>user.id)

%row#pl_cloud-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = hidden_field_tag 'infrastructure_type', 'pl_cloud'
    = hidden_field_tag 'credential_type', 'secrets'

    %h5.subheader= t('.credentials_label')

    .row
      .small-4.columns
        = label_tag :stored_login, t('.credentials.login') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_login, pl_cloud_secrets_creds.nil? ? '' : pl_cloud_secrets_creds.login
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_secret_password, t('.credentials.password') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :stored_secret_password, pl_cloud_secrets_creds.nil? ? '' : pl_cloud_secrets_creds.secret_password
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit'), class: 'button radius'
        = image_tag 'loading.gif', id: 'plgrid-configure-busy', style: 'display: none;'

.row#pl_cloud-remove-panel
  .small-12.columns.text-center
    = button_to t('infrastructure.information.remove_credentials'),
      remove_credentials_infrastructure_path(user_id: @current_user.id, cloud_name: 'pl_cloud'),
        class: "remove-button button radius tiny alert", id: 'remove-button', remote: true, form: { "data-type" => "json" }
    = image_tag 'loading.gif', class: 'pl_cloud-busy', style: 'display: none;'

= content_for :javascript do
  :javascript
    $(function() {
      new window.CredentialsDialog('pl_cloud-credentials-panel',
                                   'pl_cloud-remove-panel',
                                   '.pl_cloud-busy');
    });

