- credentials = CloudSecrets.find_by_query('cloud_name'=>'pl_cloud', 'user_id'=>@current_user.id)

.row#pl_cloud-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = hidden_field_tag 'infrastructure_name', 'pl_cloud'
    = hidden_field_tag 'credential_type', 'secrets'

    %h5.subheader= t('.credentials_label')

    .row
      .small-4.columns
        = label_tag :stored_login, t('.credentials.login') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :stored_login, credentials.nil? ? '' : credentials.login
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :stored_secret_password, t('.credentials.password') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :stored_secret_password, credentials.nil? ? '' : credentials.secret_password
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit'), class: 'button radius'

  = content_for :javascript do
    :javascript
      $(function() {
        new window.CredentialsDialog('pl_cloud',
          '#{credentials ? credentials.id : ''}', 'pl_cloud',
          '#{credentials_state(credentials, @current_user, 'pl_cloud')}');
      });
