- credentials = GridCredentials.find_by_user_id(@current_user.id)

%row#plgrid-login-form-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = hidden_field_tag 'infrastructure_type', 'plgrid'

    %h5.subheader= t('.credentials_label')

    %fieldset
      .row
        .small-4.columns
          = label_tag :host, t('.credentials.host') + ':', class: 'inline right'
        .small-4.columns
          = text_field_tag :host, credentials.nil? ? '' : credentials.host
        .small-4.columns
      .row
        .small-4.columns
          = label_tag :username, t('.credentials.login') + ':', class: 'inline right'
        .small-4.columns
          = text_field_tag :username, credentials.nil? ? '' : credentials.login
        .small-4.columns
      .row
        .small-4.columns
          = label_tag :password, t('.credentials.password') + ':', class: 'inline right'
        .small-4.columns
          = password_field_tag :password, credentials.nil? ? '' : credentials.password
        .small-4.columns
      .row
        .small-4.columns
          = label_tag :save_settings, t('.credentials.save_settings') + ':', class: 'inline right'
        .small-4.columns
          = check_box_tag :save_settings, '1', (not credentials.nil?)
        .small-4.columns
      .row
        .small-12.columns.text-center
          = submit_tag t('infrastructure.information.submit'), class: 'button radius'
          = image_tag 'loading.gif', id: 'plgrid-configure-busy', style: 'display: none;'


= content_for :javascript do
  :javascript
    $(function() {
      new window.InformationDialog('plgrid-login-form-panel',
                                   'plgrid-submission-panel',
                                   '#extension-dialog',
                                   '#plgrid-configure-busy');
    });
