- credentials = GridCredentials.find_by_user_id(@current_user.id)

.row#plgrid-credentials-panel
  = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
    = tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
    = hidden_field_tag 'infrastructure_name', 'qsub'

    %h5.subheader= t('.credentials_label')

    .row.hidden#plgrid-proxy-info
      %data-alert.alert-box.success.radius
        %i.fi-burst
        = raw '&nbsp;&nbsp;'
        = t('infrastructure.credentials.proxy_present')

    .row
      .small-4.columns
        = label_tag :host, t('.credentials.host') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :host, credentials.nil? ? '' : credentials.host
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :username, t('.credentials.login') + ':', class: 'inline right'
      .small-4.columns
        = text_field_tag :username, credentials.nil? ? '' : credentials.login
      .small-4.columns
    .row
      .small-4.columns
        = label_tag :password, t('.credentials.password') + ':', class: 'inline right'
      .small-4.columns
        = password_field_tag :password, '', autocomplete: :off
      .small-4.columns
    .row
      .small-12.columns.text-center
        = submit_tag t('infrastructure.information.submit'), class: 'button radius'

= content_for :javascript do
  :javascript
    $(function() {
      new window.CredentialsDialog('plgrid',
        '#{credentials ? credentials.id : ''}', 'qsub',
        '#{credentials_state(credentials, @current_user, 'qsub')}');
    });
