.row
  %dl.accordion(data-accordion="")
    %dd
      %a(href='#private-machines-submission-panel')= t('.machine_submission_label')
      .content#private-machines-submission-panel
        .row
          = form_tag add_infrastructure_credentials_infrastructure_path, remote: true, class: 'custom' do
            = hidden_field_tag :infrastructure_type, 'private_machine'
            .row
              .small-4.columns
                = label_tag :host, t('.host') + ':', class: 'inline right'
              .small-2.columns
                = text_field_tag :host, ''
              .small-1.columns
                = label_tag :port, t('.port') + ':', class: 'inline right'
              .small-1.columns
                = text_field_tag :port, '22'
              .small-2.columns
            .row
              .small-4.columns
                = label_tag :login, t('.login') + ':', class: 'inline right'
              .small-4.columns
                = text_field_tag :login, ''
              .small-4.columns
            .row
              .small-4.columns
                = label_tag :secret_password, t('.password') + ':', class: 'inline right'
              .small-4.columns
                = password_field_tag :secret_password, ''
              .small-4.columns

            .row
              .small-12.columns.text-center
                = submit_tag t('infrastructure.information.submit'), class: 'button radius'
                = image_tag 'loading.gif', id: 'private-machine-submission-busy', style: 'display: none;'

    %dd
      %a(href='#private-machines-table-panel')= t('.table_label')
      .content#private-machines-table-panel
        %p
          %table#machines-table{style: 'width: 100%'}
            %tr
              %th= t('.host')
              %th= t('.port')
              %th= t('.login')
              %th= t('.actions')
            %tbody
              - PrivateMachineCredentials.find_all_by_user_id(user.id).each do |machine|
                - row_id = "info-row-#{machine.id}"
                %tr{id: "#{row_id}"}
                  %td
                    .small-12.columns.text-center
                      = machine.host
                  %td
                    .small-12.columns.text-center
                      = machine.port
                  %td
                    .small-12.columns.text-center
                      = machine.login
                  %td
                    .small-12.columns.text-center
                      = button_to t('.remove'), remove_private_machine_creds_infrastructure_path(private_machine_creds_id: machine.id), class: "remove-button button radius tiny", remote: true, form: { "data-type" => "json" }
                  %td
                    .small-12.columns.text-center
                      = image_tag 'loading.gif', class: "#{row_id}-busy", size: '24x24', style: 'display: none;'

= content_for :javascript do
  :javascript
    $(function() {
      new window.PrivateMachinesManagerDialog('private-machines-submission-panel',
                                   'extension-dialog',
                                   'machines-table',
                                   'private-machine-submission-busy');

      $('p').each(function(index, element) {
        if($(element).html() == "") {
          $(element).remove();
        }
      });
    });
