-#%article#monitoring_charts
-#  %h3 Analysis charts
-#  = render :partial => "basic_statistics_charts", :object => analysis_charts
-#  = render :partial => "regression_tree_charts", :object => analysis_charts
-#  = render :partial => "bivariate_analysis", :object => analysis_charts

#histogram_analysis_link
  = image_tag("histogram_icon.png", :size => "100x150", :onClick => "show_window('histogram')")

#histogram_analysis_window.layered_window
  = image_tag "close_icon.png", :onClick => "close_window('histogram')", :class =>"close_button"
  = render :partial => "basic_statistics_charts", :object => @experiment

#rtree_analysis_link
  = image_tag("rtree_icon.png", :size => "100x150", :onClick => "show_window('rtree')")

#rtree_analysis_window.layered_window
  = image_tag "close_icon.png", :onClick => "close_window('rtree')", :class =>"close_button"
  = render :partial => "regression_tree_charts", :object => @experiment

#bivariate_analysis_link
  = image_tag("bivariate_icon.png", :size => "100x150", :onClick => "show_window('bivariate')")

#bivariate_analysis_window.layered_window
  = image_tag "close_icon.png", :onClick => "close_window('bivariate')", :class =>"close_button"
  = render :partial => "bivariate_analysis", :object => @experiment

#dialog{:title=>"Dialog Title", :style=>"display:none; overflow-y: auto;"}
  #expanding_dialog_busy{:style=>"text-align: center;"}
    %h5 Loading information about current parameter values...
    = image_tag "loading.gif"


