= javascript_tag 'var basic_chart_tab = new Array();'

#basic_charts_form
  %h2.subheader Basic statistics about Measures of Effectiveness
  = form_tag '', class: '' do
    .row
      .small-10.columns
        .small-3.columns
          = label_tag 'Select MoE:', nil, class: 'inline'
        .small-9.columns
          = select_tag 'moe_name', '', { class: 'moe_list' }
    .row
      .small-10.columns
        .small-3.columns
          = label_tag 'Number of bars:', nil, class: 'inline'
        .small-9.columns
          = text_field_tag 'resolution', 10
    .row
      %ul.inline-list
        %li= submit_tag 'Load chart', class: 'button'
        %li= image_tag 'loading.gif', :id => 'busy_basic', size: '16x16', style: 'display: none'

#basic_charts

:javascript
  // 'Load chart' button handler
  $('#basic_charts_form form input[type=submit]').bind('click', function() {
    $('#busy_basic').show();

    var moe_name = $('#basic_charts_form select[name=\'moe_name\'] option:selected').val();
    var resolution = $('#basic_charts_form input[name=\'resolution\']').val();

    $.post("#{histogram_experiment_path(@experiment.id)}",
      { 'moe_name': moe_name, 'resolution': resolution },
      function(data) { $('#busy_basic').hide(); }
    );

    return false;
  });