%section.panel.radius.list.plot
  - chart_container_id = "basic_chart_container_#{experiment.id}_#{moe_name}_#{resolution}"

  %h3.subheader
    = t('charts.histogram.header', moe: moe_name)
    = image_tag 'loading.gif', size: '16x16', style: 'display: none', id: "busy_basic_#{experiment.id}_#{moe_name}_#{resolution}"
  .row
    %span.button= t('charts.hide_button')
    -# TODO handle the refresh option
    -#= button_to_function 'Refresh',
    -#    "refresh_chart('#{experiment.id}', '#{moe_name}', #{resolution}, '#{experiments_update_basic_statistics_chart_path}')", class: 'nice_button'

  .basic_chart_container{ id: chart_container_id }

  = render partial: 'statistics_box', locals: { stats: stats, experiment: experiment, moe_name: moe_name }

  :javascript
    $(function() {
      $('.plot .button').on('click', function() {
        $(this).parent().parent().remove()
      });
    });