= javascript_tag "var basic_chart_tab = new Array()"

#basic_charts_form
  %h2 Basic statistics about Measures of Effectiveness
  %div
    %span
      Select MoE:
      = select_tag 'moe_name', '', { class: 'moe_list' }
    = 'Number of bars:'
    = text_field_tag 'resolution', 10

    = submit_tag 'Load chart', class: 'nice_button', style: 'float: none;'
    = image_tag 'loading.gif', :id => 'busy_basic', size: '16x16', style: 'display: none'
#basic_charts

:javascript
  // 'Load chart' button handler
  $('#basic_charts_form input[type=submit]').bind('click', function() {
    $('#busy_basic').show();

    var moe_name = $('#basic_charts_form select[name=\'moe_name\'] option:selected').val();
    var resolution = $('#basic_charts_form input[name=\'resolution\']').val();

    $.post("#{histogram_experiment_path(@experiment.id)}",
      { 'moe_name': moe_name, 'resolution': resolution },
      function(data) { $('#busy_basic').hide(); }
    );

    return false;
  });