%h3
  Basic statistics about #{ParameterForm.moe_label(@moe_name)}
  = image_tag "loading.gif", :size => "16x16", :style => "display: none",
                             :id => "busy_basic_#{@experiment.id}_#{@moe_name}_#{@resolution}"
.buttons
  = button_to_function "Refresh" ,
      "refresh_chart('#{@experiment.id}', '#{@moe_name}', #{@resolution}, '#{experiments_update_basic_statistics_chart_path}')", :class => "nice_button"
  = button_to_function "Hide chart" , "$(this).parent().parent().remove()", :class => "nice_button"

%br
.basic_chart_container{:id => "basic_chart_container_#{@experiment.id}_#{@moe_name}_#{@resolution}"}

= render :partial => "statistics_box"