-#- @chart.x_axis_label = ParameterForm.moe_label(@chart.x_axis); @chart.y_axis_label = ParameterForm.moe_label(@chart.y_axis);
%h3.subheader
  = "Scatter plot: '#{@chart.x_axis_label}' versus '#{@chart.y_axis_label}'"
  = image_tag 'loading.gif', id: "busy_bivariate_#{@chart.x_axis}_#{@chart.y_axis}", size: '16x16', style: 'display: none;'

.row
  -#= button_to_function "Refresh" ,
  -#  "refresh_bivariate_chart('#{@chart.experiment.id}', '#{@chart.x_axis}', '#{@chart.y_axis}', '#{experiments_refresh_bivariate_analysis_chart_path}')",
  -#  :class => "nice_button"
  = button_to_function 'Hide chart' , '$(this).parent().parent().remove()', class: 'button'

%br
.bivariate_chart_container{ id: "bivariate_chart_container_#{@chart.x_axis}_#{@chart.y_axis}" }