= javascript_tag 'var bivariate_chart_tab = new Array();'

#bivariate_charts_form
  %h2 Bivariate analysis

  %div
    %div{ style: 'margin-bottom: 10px;' }
      Select values for the X axis (MoE or input):
      = select_tag 'x_axis', '', { class: 'moes_and_params_list' }
    %div{ style: 'margin-bottom: 10px;' }
      Select values for the Y axis (MoE or input):
      = select_tag 'y_axis', '', { class: 'moes_and_params_list' }

    = submit_tag 'Load chart', class: 'nice_button', style: 'margin-left: 0;'
    = image_tag 'loading.gif', id: 'busy_scatter_plot', size: '16x16', style: 'display: none'

#bivariate_charts

:javascript
  // 'Load chart' button handler
  $('#bivariate_charts_form input[type=submit]').bind('click', function() {
    $('#busy_scatter_plot').show();

    var x_axis = $('#bivariate_charts_form select[name=\'x_axis\'] option:selected').val();
    var y_axis = $('#bivariate_charts_form select[name=\'y_axis\'] option:selected').val();

    $.post("#{scatter_plot_experiment_path(@experiment.id)}",
      { 'x_axis': x_axis, 'y_axis': y_axis },
      function(data) { $('#busy_scatter_plot').hide(); }
    );

    return false;
  });