= javascript_tag 'var bivariate_chart_tab = new Array();'

#bivariate_charts_form
  %h2.subheader Bivariate analysis
  = form_tag '', class: '' do
    .row
      .small-5.columns
        = label_tag 'Select values for the X axis (MoE or input):', nil, class: 'inline'
      .small-7.columns
        = select_tag 'x_axis', '', { class: 'moes_and_params_list' }
    .row
      .small-5.columns
        = label_tag 'Select values for the Y axis (MoE or input):', nil, class: 'inline'
      .small-7.columns
        = select_tag 'y_axis', '', { class: 'moes_and_params_list' }
    .row
      %ul.inline-list
        %li= submit_tag 'Load chart', class: 'button'
        %li= image_tag 'loading.gif', :id => 'busy_scatter_plot', size: '16x16', style: 'display: none'

#bivariate_charts

:javascript
  // 'Load chart' button handler
  $('#bivariate_charts_form input[type=submit]').bind('click', function() {
    $('#busy_scatter_plot').show();

    var x_axis = $('#bivariate_charts_form select[name=\'x_axis\'] option:selected').val();
    var y_axis = $('#bivariate_charts_form select[name=\'y_axis\'] option:selected').val();

    $.post("#{scatter_plot_experiment_path(@experiment.id)}",
      { 'x_axis': x_axis, 'y_axis': y_axis },
      function(data) { $('#busy_scatter_plot').hide(); }
    );

    return false;
  });