-#- @chart.x_axis_label = ParameterForm.moe_label(@chart.x_axis); @chart.y_axis_label = ParameterForm.moe_label(@chart.y_axis);
%section.panel.radius.plot
  %h3.subheader
    = t('charts.scatter.header', x_axis: @chart.x_axis_label, y_axis: @chart.y_axis_label)

  - notation_options = options_for_select([["Default", 'default'], ["Scientific", 'scientific']])

  .row
    -#= button_to_function "Refresh" ,
    -#  "refresh_bivariate_chart('#{@chart.experiment.id}', '#{@chart.x_axis}', '#{@chart.y_axis}', '#{experiments_refresh_bivariate_analysis_chart_path}')",
    -#  :class => "nice_button"
    %span.button.hide= t('charts.hide_button')
    .row{id: "select_axis_row_#{@uuid}"}
      .small-offset-1.small-3.columns
        = label_tag "choose_axis_#{@uuid}", t('charts.scatter.select_axis_to_add'), class: 'inline'
      .small-5.columns.end
        = select_tag "choose_axis_#{@uuid}",options_for_select([[t('charts.axis_x'), 'x'], [t('charts.axis_y'), 'y']])
    .row{id: "add_new_series_row_#{@uuid}"}
      .small-offset-1.small-3.columns
        = label_tag "new_series_#{@uuid}", t('charts.scatter.add_new_series'), class: 'inline'
      .small-5.columns.end
        = select_tag "new_series_#{@uuid}", '', { class: 'moes_and_params_list' }
    .row
      .small-offset-1.small-3.columns
        = label_tag "notation_#{@uuid}", "Notation" + ':', class: 'inline'
      .small-5.columns
        = select_tag "notation_#{@uuid}", notation_options
      .small-2.columns.end
        %span.add_series.button.radius.tiny= t('charts.scatter.add_series')
        = image_tag 'loading.gif', id: "busy_bivariate_#{@uuid}", size: '16x16', style: 'display: none;'


  %br
  .bivariate_chart_container{ id: "#{@container_id}" }

  :javascript
    $(function() {

      var setAxis = "x";

      var x_axis = $('#bivariate_charts_form').find('select[name=\'x_axis\'] option:selected').val();
      var y_axis = $('#bivariate_charts_form').find('select[name=\'y_axis\'] option:selected').val();
      var index_of_x
      var type_of_x
      var index_of_y
      var type_of_y
      var notation = $('#bivariate_charts_form').find('select[name=\'notation\'] option:selected').val();
      if (window.moes_info.moes_names.indexOf(x_axis) != -1) {
        index_of_x = window.moes_info.moes_names.indexOf(x_axis)
        type_of_x = window.moes_info.moes_types[index_of_x]
      } else {
        index_of_x = window.moes_info.inputs_names.indexOf(x_axis)
        type_of_x = window.moes_info.inputs_types[index_of_x]
      }

      if (window.moes_info.moes_names.indexOf(y_axis) != -1) {
        index_of_y = window.moes_info.moes_names.indexOf(y_axis)
        type_of_y = window.moes_info.moes_types[index_of_y]
      } else {
        index_of_y = window.moes_info.inputs_names.indexOf(y_axis)
        type_of_y = window.moes_info.inputs_types[index_of_y]
      }

      if (type_of_x == "string" || type_of_y == "string") {
        $('#select_axis_row_#{@uuid}').hide();
        $('#add_new_series_row_#{@uuid}').hide();
      } else {
        $('#select_axis_row_#{@uuid}').show();
        $('#add_new_series_row_#{@uuid}').show();
      }

      $("#choose_axis_#{@uuid}").change(function() {
        setAxis = $(this).find(":selected").val();
      });
      $('.plot .button.hide').on('click', function() {
        $(this).parent().parent().remove()
      });
      $("#new_series_#{@uuid}").html($("#x_axis").html());

      $("#wrapper_#{@container_id} .add_series").bind("click", function() {
        var axis_label = $('#new_series_#{@uuid} option:selected').html();
        var axis = $('#new_series_#{@uuid} option:selected').val();

        if (window.moes_info.moes_names.indexOf(axis) != -1) {
          var index = window.moes_info.moes_names.indexOf(axis)
          var type = window.moes_info.moes_types[index]
        } else {
          var index = window.moes_info.inputs_names.indexOf(axis)
          var type = window.moes_info.inputs_types[index]
        }

        if (type == "string") {
          toastr.error("#{t('experiments.errors.incorrect_add_parameter_scater')}");
        }
        else {
          $("#choose_axis_#{@uuid}").prop("disabled", true);
          $("#busy_bivariate_#{@uuid}").show();


        if(setAxis==="x"){
          var yaxis = "#{@chart.y_axis}"
          var xaxis = axis
          var type = true;
        }
        else if(setAxis==="y") {
          yaxis = axis
          xaxis = "#{@chart.x_axis}"
          type = false;
        }

          $.getJSON("#{scatter_plot_series_experiment_path(@experiment.id)}",
          {"x_axis": xaxis, "y_axis":  yaxis},
          function(data) {
            var series = []
            for (key in data) {
               for(ind in data[key])
                 series.push([parseFloat(key), parseFloat(data[key][ind])])
            }

             $("##{@container_id}").highcharts().addAxis({
               id: axis,
               title: {
                 text: axis_label
                 },

               labels:{
                 formatter: function(){
                 if(notation==='scientific')
                   return this.value.toExponential(2);
                 else
                   return this.value;
                 }
               }
             }, type);

          $("##{@container_id}").highcharts().addSeries({name: axis_label.split(" - ").slice(-1)[0], data: series});

             if(setAxis==="x") {
               $("##{@container_id}").highcharts().series[1].update({ xAxis: axis });
             } else {
               $("##{@container_id}").highcharts().series[1].update({ yAxis: axis });
             }

             $("#busy_bivariate_#{@uuid}").hide();
          });
      })
    });
