%section.panel.radius.analysis-chart#bivariate_charts_form
  %h3.subheader= t('charts.scatter.section_header')

  = form_tag '', class: '' do
    .row
      .small-5.columns
        = label_tag :x_axis, t('charts.scatter.select_x') + ':', class: 'inline'
      .small-7.columns
        = select_tag 'x_axis', '', { class: 'moes_and_params_list' }
    .row
      .small-5.columns
        = label_tag :y_axis, t('charts.scatter.select_y') + ':', class: 'inline'
      .small-7.columns
        = select_tag 'y_axis', '', { class: 'moes_and_params_list' }
    .row
      %ul.inline-list
        %li= submit_tag t('charts.load_button'), class: 'button radius'
        %li= image_tag 'loading.gif', :id => 'busy_scatter_plot', size: '16x16', style: 'display: none'

#bivariate_charts

- content_for :javascript do
  :javascript
    var bivariate_chart_tab = new Array();

    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if(mutation.addedNodes.length > 1) {
                $($('#bivariate_charts_form select[name=\'x_axis\'] option[data-type=\'input_parameter\']')[0]).prop('selected', true);
                $($('#bivariate_charts_form select[name=\'y_axis\'] option[data-type=\'moes_parameter\']')[0]).prop('selected', true);
                observer.disconnect();
            }
        })
    });
    var target = document.querySelector('#bivariate_charts_form select[name=\'x_axis\']');
    observer.observe(target, {childList: true});

    // 'Load chart' button handler
    $('#bivariate_charts_form input[type=submit]').bind('click', function() {
      var x_axis = $('#bivariate_charts_form select[name=\'x_axis\'] option:selected').val();
      var y_axis = $('#bivariate_charts_form select[name=\'y_axis\'] option:selected').val();

      if (x_axis==="nil" || y_axis==="nil") {
        toastr.error("#{t('experiments.errors.incorrect_parameter')}");
      }
      else {
        $('#busy_scatter_plot').show();
        $.post("#{scatter_plot_experiment_path(@experiment.id)}",
          { 'x_axis': x_axis, 'y_axis': y_axis },
          function(data) { $('#busy_scatter_plot').hide(); }
        );
      }
      return false;
    });
