-tabs_map={plgrid: 'PL-Grid', cloud: t('.clouds'), images_manager: t('.images_manager'), private_machines_manager: t('.images_manager')}

%h2= t('experiments.monitoring_actions.booster.header')

%a.close-reveal-modal &#215;

- first = true
%dl.tabs(data-tab="")
  - tabs_map.each do |tab_id, tab_title|
    %dd{class: "#{first ? 'active' : '' }"}
      %a{ href: "##{tab_id.to_s}" }= tab_title
    - first = false if first

- first = true
.tabs-content
  - tabs_map.each do |tab_id, infrastructure_info|
    .content{ id: tab_id, class: "#{first ? 'active' : '' }", style: 'width: 100%' }
      = render partial: "infrastructure/information/#{tab_id}", locals: { experiment: @experiment, user: @current_user }
    - first = false if first


:javascript
  $(function() {
    $(document).foundation();

    new window.InformationDialog('#extension-dialog');
  });