%table#completed_simulations_table
  %caption
    %h4.subheader= t('experiments.monitoring.completed_simulations_table.caption')
  %thead
    %th #
    %th
      = t('experiments.monitoring.completed_simulations_table.execution_time_header')
    %th
      = t('experiments.monitoring.completed_simulations_table.results_header')
    - @experiment.range_arguments.each do |parameter_uid|
      %th= @experiment.input_parameter_label_for(parameter_uid)
  %tbody
    - @experiment.simulation_runs.where(is_done: true).each do |sim_run|
      - unless sim_run.sent_at and sim_run.index and sim_run.values and sim_run.done_at
        - next
      %tr(sim_index="#{sim_run.index}")
        %td.index= sim_run.index
        %td.time= (sim_run.sent_at.nil? or sim_run.done_at.nil?) ? 'N/A' : "#{sim_run.done_at - sim_run.sent_at} [s]"
        %td.results= sim_run.result.nil? ? 'N/A' : sim_run.result.to_json.to_s

