%div.right
  - is_disabled = @experiment.user_id != @current_user.id

  = experiment_info_button('experiments.edit', 'edit-dialog', 'fi-page-edit', is_disabled)
  = experiment_info_button('experiments.monitoring_actions.share_dialog', 'share-dialog', 'fi-share', is_disabled)

  - if @experiment.user_id == @current_user.id
    - if @experiment.is_running
      %span.button.tiny.radius.alert#stopExperimentButton
        %i.fi-stop
        = t('experiments.monitoring_actions.stop_experiment.link')
    - else
      %span.button.tiny.radius.alert#destroyExperimentButton
        %i.fi-trash
        = t('.destroy_button')


%h3.subheader= t('.experiment_info_title')

.content
  .row
    .small-3.columns
      %h5.subheader.right= t('.experiment_name') + ':'
    .small-9.columns
      %h5.subheader= @experiment.name
  .row
    .small-3.columns
      %h5.subheader.right= t('.experiment_description') + ':'
    .small-9.columns
      %h5.subheader= @experiment.description
  .row
    - if @current_user.owns?(@experiment)
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_shared_with') + ':'
      .small-9.columns
        %h5.subheader
          - if @experiment.shared_with.blank?
            = t('experiments.monitoring_actions.blank_shared_with_list')
          - else
            - @experiment.shared_with.to_a.map{|id| ScalarmUser.find_by_id(id) }.each do |u|
              = form_tag share_experiment_path(@experiment.id), class: 'custom', style: "display: inline;" do
                = hidden_field_tag 'mode', 'unshare'
                = hidden_field_tag 'sharing_with_login', u.login
                = u.login
                = submit_tag raw("&#215; #{t('experiments.monitoring_actions.unshare')}"), class: 'button radius tiny'
              &nbsp;
    - else
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_shared_by') + ':'
      .small-9.columns
        %h5.subheader= ScalarmUser.find_by_id(@experiment.user_id).login

  - if @experiment.simulation.nil?
    %h4.subheader= t('simulations.conduct_experiment.empty_simulation')
  - else
    %h4.subheader= t('simulations.conduct_experiment.simulation_overview_header')

    .row
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_name') + ':'
      .small-9.columns
        %h5.subheader= @experiment.simulation.name
    .row
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_description') + ':'
      .small-9.columns
        %h5.subheader= @experiment.simulation.description


#edit-dialog.reveal-modal(data-reveal)
  %h3= t('experiments.edit.header')
  %a.close-reveal-modal &#215;

  .content
    = form_tag experiment_path(@experiment.id), method: :put, class: 'custom' do
      .row
        .small-3.columns
          %h5.subheader.right= t('.experiment_name') + ':'
        .small-6.columns
          = text_field_tag 'experiment[name]', @experiment.name
        .small-1.columns
      .row
        .small-3.columns
          %h5.subheader.right= t('.experiment_description') + ':'
        .small-6.columns
          = text_area_tag 'experiment[description]', @experiment.description
        .small-1.columns
      .row
        .small-2.small-centered.columns
          = submit_tag t('experiments.edit.submit_btn'), class: 'button radius expanded'

- if @experiment.user_id == @current_user.id
  #share-dialog.reveal-modal(data-reveal)
    %a.close-reveal-modal &#215;
    %h2= t('experiments.monitoring_actions.share_dialog.tooltip')

    = form_tag share_experiment_path(@experiment.id), class: 'custom' do
      = hidden_field_tag 'mode', 'share'
      .row
        .small-4.columns
          %label.inline.right(for="sharing_with_login")
            = t('experiments.monitoring_actions.share_with_login') + ':'
        .small-3.columns
          = text_field_tag('sharing_with_login')
        .small-3.columns
          = submit_tag t('experiments.monitoring_actions.share'), class: 'button radius expand small'

        .small-1.columns

= content_for :javascript do
  :javascript
    $(function() {
      var logins = #{share_with_users.to_json};

      $("#sharing_with_login").autocomplete({
        source: logins
      });

      $('.ui-autocomplete').addClass('f-dropdown').css("z-index", 1000);

      // disable "disabled" buttons
      $("[disabled]").click(function(event) {
          event.stopImmediatePropagation();
          return(false);
      });
    });
