%div.right
  %a.button.tiny.radius(href="#" data-reveal-id="experimentEditModal" title="#{t('experiments.edit.tooltip')}")
    %i.fi-page-edit

%h3.subheader= t('.experiment_info_title')

.content
  .row
    .small-3.columns
      %h5.subheader.right= t('.experiment_name') + ':'
    .small-9.columns
      %h5.subheader= @experiment.name
  .row
    .small-3.columns
      %h5.subheader.right= t('.experiment_description') + ':'
    .small-9.columns
      %h5.subheader= @experiment.description
  .row
    - if @current_user.owns?(@experiment)
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_shared_with') + ':'
      .small-9.columns
        - share_with_users = @experiment.shared_with.to_a.map{|id| ScalarmUser.find_by_id(id).login }
        %h5.subheader= share_with_users.blank? ? '-' : share_with_users.join(', ')
    - else
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_shared_by') + ':'
      .small-9.columns
        %h5.subheader= ScalarmUser.find_by_id(@experiment.user_id).login      

  - if @experiment.simulation.nil?
    %h4.subheader= t('simulations.conduct_experiment.empty_simulation')
  - else
    %h4.subheader= t('simulations.conduct_experiment.simulation_overview_header')

    .row
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_name') + ':'
      .small-9.columns
        %h5.subheader= @experiment.simulation.name
    .row
      .small-3.columns
        %h5.subheader.right= t('simulations.conduct_experiment.simulation_overview_description') + ':'
      .small-9.columns
        %h5.subheader= @experiment.simulation.description


#experimentEditModal.reveal-modal(data-reveal="")
  %h3= t('experiments.edit.header')
  %a.close-reveal-modal &#215;

  .content
    = form_tag experiment_path(@experiment.id), method: :put, class: 'custom' do
      .row
        .small-3.columns
          %h5.subheader.right= t('.experiment_name') + ':'
        .small-6.columns
          = text_field_tag 'experiment[name]', @experiment.name
        .small-1.columns
      .row
        .small-3.columns
          %h5.subheader.right= t('.experiment_description') + ':'
        .small-6.columns
          = text_area_tag 'experiment[description]', @experiment.description
        .small-1.columns

      .row
        .small-2.small-centered.columns
          = submit_tag t('experiments.edit.submit_btn'), class: 'button radius expanded'
