%article{id: 'progress_information', style: 'overflow:auto;'}
  %div.right
    %span.button.tiny.radius.loadRunningSimulationsTable
      %i.fi-minus
      = t('.show_running')
    %span.button.tiny.radius.loadCompletedSimulationsTable
      %i.fi-check
      = t('.show_completed')

  %h3.subheader= t('.header')

  #running_simulations_table_wrapper{style: 'display: none;'}
  #completed_simulations_table_wrapper{style: 'display: none;'}

= content_for :javascript do
  :javascript
    $(function() {
      $('.loadRunningSimulationsTable').on('click', function() {
        var $simTable = $('#running_simulations_table_wrapper');

        $simTable.slideToggle();
        var targetOffset = $(this).offset().top;
        $('html,body').animate({scrollTop: targetOffset}, 1000);

        $simTable.load("#{running_simulations_table_experiment_path(@experiment._id)}", function() {

          $('#running_simulations_table').on('click', 'tr', function() {
            $('#extension-dialog').html(window.loaderHTML);

            var simId = $(this).find("td.index").text();
            $('#extension-dialog').load("/experiments/" + "#{@experiment._id}" + "/simulations/" + simId);
            $('#extension-dialog').foundation('reveal', 'open');
          });
        });
      });

      $('.loadCompletedSimulationsTable').on('click', function() {
        var $simTable = $('#completed_simulations_table_wrapper');

        $simTable.slideToggle();
        var targetOffset = $(this).offset().top;
        $('html,body').animate({scrollTop: targetOffset}, 1000);

        $simTable.load("#{completed_simulations_table_experiment_path(@experiment._id)}", function() {
          $('#completed_simulations_table').on('click', 'tr', function() {
            $('#extension-dialog').html(window.loaderHTML);

            var simId = $(this).find("td.index").text();
            $('#extension-dialog').load("/experiments/" + "#{@experiment._id}" + "/simulations/" + simId);
            $('#extension-dialog').foundation('reveal', 'open');
          });
        });
      });
    });
