- button_classes = 'button radius small expand last-element action-button'

%article
  %h3.subheader
    = t('.actions_header')
    = image_tag('loading.gif', id: 'actions-loading', style: 'display: none;')

  .row
    - if @experiment.is_running
      .small-2.columns.action-button
        = button_to t('.stop_button'), stop_experiment_path(@experiment.id), :onClick => "return confirm('Are you sure?')", class: button_classes
      .small-2.columns.action-button
        %span#extensionDialogOpenButton{class: button_classes}= t('.extend_button')
      .small-2.columns.action-button
        %span#boostButton{class: button_classes}= t('.boost_button')
      .small-2.columns.action-button
        %span#schedulingButton{class: button_classes}= t('.scheduling_button')
    - else
      .small-2.columns.action-button
        = button_to t('.destroy_button'), experiment_path(@experiment.id), method: :delete, onClick: "$('#loading-img').show(); return confirm('Are you sure?')", class: button_classes

    .small-2.columns.action-button
      = link_to t('.download_results_button'), '#', 'data-dropdown' => 'download-dropdown', class: button_classes

    .small-2.columns.action-button
      %span#progressButton{class: button_classes}= t('.progress_information_button')
      %ul#download-dropdown.f-dropdown(data-dropdown-conent)
        %li= link_to t('.binaries_results_button'), "https://#{@storage_manager_url}/experiment/#{@experiment.id}/from/1/to/#{@experiment.experiment_size}", id: 'download-dialog-buttton'
        %li= link_to t('.get_configurations_button'), file_with_configurations_experiment_path(@experiment.id)

#extension-dialog.reveal-modal(data-reveal="")

- content_for :javascript do
  :javascript
    $(function() {
      new window.MonitoringActionButtons("#{extension_dialog_experiment_path(@experiment.id)}",
                                         "#{get_booster_dialog_experiment_path(@experiment.id)}")
    });
