= # socky :channels => "chart_monitoring"
= javascript_include_tag "jit-yc"
= javascript_tag "var chart_tab = new Array()"

= render :partial => "analysis_charts", :object => monitoring_charts

#dialog{:title=>"Dialog Title", :style=>"display:none; overflow-y: auto;"}
  #expanding_dialog_busy{:style=>"text-align: center;"}
    %h5 Loading information about current parameter values...
    = image_tag "loading.gif"