%article
  %h3.subheader
    = t('.actions_header')
    = image_tag('loading.gif', id: 'actions-loading', style: 'display: none;')

  .content
    .row
      - if @experiment.is_running
        - if @experiment.user_id == @current_user.id
          .small-2.columns.action-button
            %span#stopExperimentButton{class: button_classes}= t('.stop_button')
        .small-2.columns.action-button
          %span#extensionDialogOpenButton{class: button_classes}= t('.extend_button')
        .small-2.columns.action-button
          %span#boostButton{class: button_classes}= t('.boost_button')
        .small-2.columns.action-button
          %span#schedulingButton{class: button_classes}= t('.scheduling_button')
      - else
        - if @experiment.user_id == @current_user.id
          .small-2.columns.action-button
            %span#destroyExperimentButton{class: button_classes}= t('.destroy_button')
      .small-2.columns.action-button
        = link_to t('.download_results_button'), '#', 'data-dropdown' => 'download-dropdown', class: button_classes
      .small-2.columns.action-button
        %span#progressButton{class: button_classes}= t('.progress_information_button')
        %ul#download-dropdown.f-dropdown(data-dropdown-conent)
          %li= link_to t('.binaries_results_button'), log_bank_url(@storage_manager_url, @experiment)
          %li= link_to t('.get_configurations_button'), file_with_configurations_experiment_path(@experiment.id)

    .row
      - if @experiment.is_running
        .small-3.columns.action-button
          = link_to t('.get_sm_button'), simulation_manager_experiment_path, class: button_classes
      - if @experiment.user_id == @current_user.id
        .small-2.columns.action-button
          %span#sharingButton{class: button_classes}= t('.sharing_button')
      .small-2.columns.action-button

#extension-dialog.reveal-modal(data-reveal="")

#stop_experiment_dialog.reveal-modal(data-reveal="")
  %h2= t('.stop_dialog.header')
  .row
    .small-6.columns.centered
      = link_to t('.yes'), stop_experiment_path(@experiment.id), class: button_classes, method: :post
    .small-6.columns.centered
      %span.no_button{class: button_classes}= t('.no')

#destroy_experiment_dialog.reveal-modal(data-reveal="")
  %h2= t('.destroy_dialog.header')
  .row
    .small-6.columns.centered
      = link_to t('.yes'), experiment_path(@experiment.id), class: button_classes, method: :delete
    .small-6.columns.centered
      %span.no_button{class: button_classes}= t('.no')

#share_dialog.reveal-modal(data-reveal)
  %h2= t('.share_dialog.header')
  = form_tag share_experiment_path(@experiment.id), class: 'custom' do
    = hidden_field_tag 'mode', 'share'
    .row
      .small-5.columns
        %label.inline.right(for="sharing_with_login")
          = t('.share_with_login') + ':'
      .small-3.columns= text_field_tag('sharing_with_login')
      .small-1.columns      
    .row
      .small-6.columns= submit_tag(t('.share'), class: 'button radius expand')
      .small-6.columns= submit_tag(t('.unshare'), class: 'button radius unshare expand')

- content_for :javascript do
  :javascript
    $(function() {
      new window.MonitoringActionButtons("#{extension_dialog_experiment_path(@experiment.id)}",
                                         "#{get_booster_dialog_experiment_path(@experiment.id)}")
    });
