%article#monitoring-actions
  .row
    - if @experiment.is_running
      -# actions on the left column
      .small-6.columns
        .row
          .small-12.columns
            %h4.subheader(style="margin-bottom: 20px;")
              = t('.left_column_header') +":"
              = image_tag('loading.gif', id: 'actions-loading', style: 'display: none;')

        .row
          .small-8.columns.small-centered
            %span#progressButton{class: button_classes}
              %i.fi-results
              = t('.progress_information_button')

        .row
          .small-8.columns.small-centered
            %a{href: '#', 'data-dropdown' => 'download-dropdown', class: button_classes}
              %i.fa.fa-cloud-download
              = t('.download_results_button')

      -# actions on the right column
      .small-6.columns
        .row
          .small-12.columns
            %h4.subheader(style="margin-bottom: 20px;")
              = t('.right_column_header') + ":"
              = image_tag('loading.gif', id: 'actions-loading', style: 'display: none;')

        .row
          .small-8.columns.small-centered
            %span#extensionDialogOpenButton{class: button_classes}
              %i.fi-annotate
              = t('.extend_button')

        .row
          .small-8.columns.small-centered
            %span#schedulingButton{class: button_classes}
              %i.fa.fa-barcode
              = t('.scheduling_button')

          %ul#download-dropdown.f-dropdown(data-dropdown-content)
            %li= link_to t('.binaries_results_button'), results_binaries_experiment_path(@experiment.id)
            %li= link_to t('.get_configurations_button'), file_with_configurations_experiment_path(@experiment.id)

    - else
      .small-12.columns
        %h4.subheader(style="margin-bottom: 20px;")
          = t('.left_column_header')
          = image_tag('loading.gif', id: 'actions-loading', style: 'display: none;')

      .small-offset-1.small-5.columns
        .row
          .small-11.columns.small-centered
            %span#progressButton{class: button_classes}
              %i.fi-results
              = t('.progress_information_button')

      .small-5.columns.end
        .row
          .small-11.columns.small-centered
            %a{href: '#', 'data-dropdown' => 'download-dropdown', class: button_classes}
              %i.fa.fa-cloud-download
              = t('.download_results_button')

#extension-dialog.reveal-modal(data-reveal="")
#dialog.reveal-modal(data-reveal="")

#stop_experiment_dialog.reveal-modal(data-reveal="")
  %a.close-reveal-modal &#215;
  %h2(style="text-align: center;")= t('.stop_dialog.header')
  .row
    .small-3.columns.small-offset-2
      = link_to t('.yes'), stop_experiment_path(@experiment.id), class: button_classes, method: :post
    .small-3.columns.small-offset-2
      %span.no_button{class: button_classes}= t('.no')
    .small-1.columns

#destroy_experiment_dialog.reveal-modal(data-reveal="")
  %h2(style="text-align: center;")= t('.destroy_dialog.header')
  .row
    .small-3.columns.small-offset-2
      = link_to t('.yes'), experiment_path(@experiment.id), class: button_classes, method: :delete
    .small-3.columns.small-offset-2
      %span.no_button{class: button_classes}= t('.no')
    .small-1.columns

- content_for :javascript do
  :javascript
    $(function() {
      new window.MonitoringActionButtons("#{extension_dialog_experiment_path(@experiment.id)}",
                                         "#{get_booster_dialog_infrastructure_path(experiment_id: @experiment.id)}")
      $("#extension-dialog").on("closed", function() {
        if (window.reopeningModals && window.reopeningModals.isActive) {
          $("#" + window.reopeningModals.id).foundation("reveal", "open");
          window.reopeningModals.isActive = false;
        }
      })
    });
