- @moe_label = ParameterForm.moe_label(@moe_name)
%h3
  Regression tree for the "#{@moe_label}" Measure of Effectiveness
  = image_tag "loading.gif", :size => "16x16", :style => "display: none", :id => "busy_#{@experiment.id}_#{@moe_name}"
.buttons
  = button_to_function "Refresh" , "refresh_regression_tree_chart('#{@experiment.id}', '#{@moe_name}', '#{experiments_update_regression_tree_path}')", :class => "nice_button"
  = button_to_function "Hide chart" , "$(this).parent().parent().remove()", :class => "nice_button"
  
- if @tree_nodes.nil?
  %h4 Could not create regression tree for #{@moe_label}. Probably too few simulations were performed.
- else
  .container
    .infovis{:id=>"infovis_#{@experiment.id}_#{@moe_name}"}
  = javascript_tag "$(document).ready(function() { init_#{@experiment.id}_#{@moe_name}(#{@experiment.id}, '#{@moe_name}') })"