%section.panel.radius.list.analysis-chart#regression_charts_form
  %h3.subheader= t('charts.regression.section_header')

  #regression_charts_form
    .row
      .small-10.columns
        .small-3.columns
          = label_tag :moe_name, t('charts.regression.select_moe') + ':', class: 'inline'
        .small-9.columns
          = select_tag 'moe_name', '', { class: 'moe_list' }
    .row
      %ul.inline-list
        %li= submit_tag t('charts.load_button'), class: 'button radius'
        %li= loading_gif('busy_rt')


#regression_charts

- content_for :javascript do
  :javascript
    var rt_chart_tab = new Array();
    var rt_vis_tab = new Array();

    // 'Load chart' button handler
    $('#regression_charts_form').find('input[type=submit]').bind('click', function() {
      if (check_if_no_results_to_plot() == true){
        return;
      }

      $('#busy_rt').show();

      var moe_name = $('#regression_charts_form select[name=\'moe_name\'] option:selected').val();

      $.post("#{regression_tree_experiment_path(@experiment.id)}",
        { 'moe_name': moe_name },
        function(data) { $('#busy_rt').hide(); }
      );

      function check_if_no_results_to_plot() {
        if (window.moes_info.moes_types.length <= 0 || typeof window.moes_info.moes_types == 'undefined') {
          toastr.error("No results to plot on chart");
          return true;
        }
      }
    });
