= # socky :channels => "regression_tree_chart_monitoring"
= javascript_tag 'var rt_chart_tab = new Array(); var rt_vis_tab = new Array();'

#regression_charts_form
  %h2.subheader Regression trees
  = form_tag '', class: '' do
    .row
      .small-10.columns
        .small-3.columns
          = label_tag 'Select MoE:', nil, class: 'inline'
        .small-9.columns
          = select_tag 'moe_name', '', { class: 'moe_list' }
    .row
      .small-10.columns
        .small-3.columns
          = label_tag 'Number of bars:', nil, class: 'inline'
        .small-9.columns
          = text_field_tag 'resolution', 10
    .row
      %ul.inline-list
        %li= submit_tag 'Load chart', class: 'button'
        %li= image_tag 'loading.gif', :id => 'busy_rt', size: '16x16', style: 'display: none'

#regression_charts

:javascript
  // 'Load chart' button handler
  $('#regression_charts_form input[type=submit]').bind('click', function() {
    $('#busy_rt').show();

    var moe_name = $('#basic_charts_form select[name=\'moe_name\'] option:selected').val();

    $.post("#{regression_tree_experiment_path(@experiment.id)}",
      { 'moe_name': moe_name },
      function(data) { $('#busy_rt').hide(); }
    );

    return false;
  });
