= # socky :channels => "regression_tree_chart_monitoring"
= javascript_tag 'var rt_chart_tab = new Array(); var rt_vis_tab = new Array();'

#regression_charts_form
  %h2 Regression trees
  %div
    %span
      Select MoE:
      = select_tag 'moe_name', '', { class: 'moe_list' }

    = submit_tag 'Load chart', class: 'nice_button', style: 'float: none;'
    = image_tag 'loading.gif', id: 'busy_rt', size: '16x16', style: 'display: none;'

#regression_charts

:javascript
  // 'Load chart' button handler
  $('#regression_charts_form input[type=submit]').bind('click', function() {
    $('#busy_rt').show();

    var moe_name = $('#basic_charts_form select[name=\'moe_name\'] option:selected').val();

    $.post("#{regression_tree_experiment_path(@experiment.id)}",
      { 'moe_name': moe_name },
      function(data) { $('#busy_rt').hide(); }
    );

    return false;
  });
