= image_tag 'close_icon.png', class: 'close_button', style: "#{show_close_button ? '': 'display: none;' }"

%section.panel.radius.list
  = content_tag :h3, t('running_experiments.label'), class: 'subheader'

  - if @running_experiments.blank?
    %p There is no experiment running currently
  - else
    - @running_experiments.each do |experiment|
      - link_text = "#{experiment.name}, started at: #{experiment.start_at.strftime('%Y-%m-%d %H:%M')}"
      = button_to link_text, experiment_path(experiment.id), class: 'button expand', method: :get