%section.panel.radius.analysis-chart#bivariate_charts_form
  %h3.subheader= t('charts.scatter.section_header')

  - scales_options = options_for_select([[t('charts.scatter.linear_scale'), 'linear'],
        [t('charts.scatter.logarithmic_scale'), 'logarithmic']],
        'linear')
  - notation_options = options_for_select([["Default", 'default'], ["Scientific", 'scientific']])

  .row
    .small-3.columns
      = label_tag :x_axis, "Select values for the X axis (MoE or input)"   + ':', class: 'inline'
    .small-2.columns
      = select_tag 'x_axis', '', { class: 'moes_and_params_list' }
    .small-1.columns
      = label_tag :x_axis_type, t('charts.scatter.axis_scale') + ':', class: 'inline'
    .small-2.columns
      = select_tag 'x_axis_type', scales_options
    .small-1.columns
      = label_tag :x_axis_notation, "Notation" + ':', class: 'inline'
    .small-3.columns
      = select_tag 'x_axis_notation', notation_options

  .row
    .small-3.columns
      = label_tag :y_axis, t('charts.scatter.select_y') + ':', class: 'inline'
    .small-2.columns
      = select_tag 'y_axis', '', { class: 'moes_and_params_list' }
    .small-1.columns
      = label_tag :y_axis_type, t('charts.scatter.axis_scale') + ':', class: 'inline'
    .small-2.columns
      = select_tag 'y_axis_type', scales_options
    .small-1.columns
      = label_tag :y_axis_notation, "Notation" + ':', class: 'inline'
    .small-3.columns
      = select_tag 'y_axis_notation', notation_options


  .row
    %ul.inline-list
      %li= submit_tag t('charts.load_button'), class: 'button radius'
      %li= image_tag 'loading.gif', :id => 'busy_scatter_plot', size: '16x16', style: 'display: none'

#bivariate_charts

- content_for :javascript do

  :javascript
    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if(mutation.addedNodes.length > 1) {
                $($('#bivariate_charts_form select[name=\'x_axis\'] option[data-type=\'input_parameter\']')[0]).prop('selected', true);
                var moes_parameters_from_select_y_axis = $('#bivariate_charts_form select[name=\'y_axis\'] option[data-type=\'moes_parameter\']');
                if(moes_parameters_from_select_y_axis.length>0) {
                  $(moes_parameters_from_select_y_axis[0]).prop('selected', true);
                }
                else {
                  $($('#bivariate_charts_form select[name=\'y_axis\'] option[data-type=\'input_parameter\']')[0]).prop('selected', true);
                }
                observer.disconnect();
            }
        })
    });
    var target = document.querySelector('#bivariate_charts_form select[name=\'x_axis\']');
    observer.observe(target, {childList: true});

    // 'Load chart' button handler
    $('#bivariate_charts_form').find('input[type=submit]').bind('click', function() {
      var x_axis = $('#bivariate_charts_form').find('select[name=\'x_axis\'] option:selected').val();
      var y_axis = $('#bivariate_charts_form').find('select[name=\'y_axis\'] option:selected').val();

      var x_axis_type = $('#bivariate_charts_form').find('select[name=\'x_axis_type\'] option:selected').val();
      var y_axis_type = $('#bivariate_charts_form').find('select[name=\'y_axis_type\'] option:selected').val();

      var x_axis_notation = $('#bivariate_charts_form').find('select[name=\'x_axis_notation\'] option:selected').val();
      var y_axis_notation = $('#bivariate_charts_form').find('select[name=\'y_axis_notation\'] option:selected').val();
      if (x_axis==="nil" || y_axis==="nil") {
        toastr.error("#{t('experiments.errors.incorrect_parameter')}");
      }
      else {
        $('#busy_scatter_plot').show();
        $.post("#{scatter_plot_experiment_path(@experiment.id)}",
          { 'x_axis': x_axis, 'y_axis': y_axis,
          'x_axis_type': x_axis_type, 'y_axis_type': y_axis_type,
          'x_axis_notation': x_axis_notation, 'y_axis_notation' : y_axis_notation },
          function(data) { $('#busy_scatter_plot').hide(); }
        );
      }
    });
