.statistics_box{ id: "statistics_box_#{experiment.id}_#{moe_name}" }
  %h5 Basic statistics
  %div Min: #{ stats[:ex_min] }
  %div Mean: #{ stats[:ex_mean] }
  %div Max: #{ stats[:ex_max] }
  %div Std. dev.: #{ stats[:ex_sd] }