- unless @experiment.plgrid_default
  .row
    .small-3.columns
      %h5.subheader= t('experiments.workers_scaling.information_panel.execution_time.planned') + ':'
    .small-9.columns
      %h5.subheader{id: 'planned_finish_time'}= ''

.row
  .small-3.columns
    %h5.subheader= t('experiments.workers_scaling.information_panel.execution_time.expected') + ':'
  .small-9.columns
    %h5.subheader{id: 'expected_finish_time'}= ''

- unless @experiment.plgrid_default
  .row
    .small-10.columns
      %h5.subheader{id: 'time_constraints_warning', style: 'font-weight: bold; color: red; display: none' }
        = t('experiments.workers_scaling.information_panel.execution_time.warning')

.row
  .small-10.columns
    %h5.subheader{id: 'workers_scaling_error', style: 'font-weight: bold; color: red; display: none' }
      = t('experiments.workers_scaling.information_panel.error')

- content_for :javascript do
  :javascript
    var plgrid_default = "#{@experiment.plgrid_default}"
    var planned_finish_time = new Date("#{@experiment.planned_finish_time}");
    window.updateWorkersScalingStatus = function() {
      $.getJSON("/experiments/#{@experiment.id.to_s}/stats", function(data) {
          if (data.completed == true) {
            if (!plgrid_default) {
              $('#time_constraints_warning').hide();
            }
            $('#workers_scaling_error').hide();
            $('#expected_finish_time').text("Finished")
          } else {
            if (data.workers_scaling_error == true) {
              $('#workers_scaling_error').show();
            } else {
              $('#workers_scaling_error').hide();
            }
            if (data.planned_finish_time == -1) {
              if (!plgrid_default) {
                $('#time_constraints_warning').show();
              }
              $('#expected_finish_time').text("Unknown")
            } else {
              var expected_finish_time = new Date(data.planned_finish_time*1000);
              $('#expected_finish_time').text(expected_finish_time.toString());
              if (!plgrid_default) {
                if (expected_finish_time > planned_finish_time) {
                  $('#time_constraints_warning').show()
                } else {
                  $('#time_constraints_warning').hide()
                }
              }
            }
          }
        });
      };
    $(function() {
      window.updateWorkersScalingStatus();
      setInterval(window.updateWorkersScalingStatus, 30000);
    });
    $('#planned_finish_time').text(planned_finish_time.toString());



