i = basic_chart_tab.length;

$("#basic_charts").prepend("<div id='basic_chart_" + i + "'></div>");
$("#basic_chart_"+i).html("<%= escape_javascript(render :partial => "basic_statistics_chart", :locals => { :moe_name => @moe_name, :resolution => @resolution }) %>")
 
$(document).ready(function() {
  basic_chart_tab[i] = new Highcharts.Chart({
  	chart: {
  		renderTo: 'basic_chart_container_<%= @experiment.id %>_<%= @moe_name %>_<%= @resolution %>',
  		defaultSeriesType: 'column'
  	},
  	title: { text: ' ' },
  	xAxis: {
  		title: { text: 'Value of MoE' },
  		categories: [
  		<% @bucket_names.each do |bucket_name| %>
  		  '<%= bucket_name %>',
  		<% end %>
  		]
  	},
  	yAxis: {
  		title: {
  			text: '#Configurations',
  			align: 'high'
  		}
  	},
  	tooltip: {
  		formatter: function() {
  			return '#Configurations: ' + this.y;
  		}
  	},
  	plotOptions: {
  		bar: {
  			dataLabels: { enabled: true }
  		}
  	},
  	credits: { enabled: false },
  	series: [{
  	  name: "<%= @moe_name %>",
      data: [
      <% @buckets.each do |value| %>
  		  <%= value %>,
  		<% end %>
      ]
    }]
	});
});
$('#busy_basic').hide();
// scroll to
var targetOffset =  $('#basic_chart_' + i).offset().top;
//$('#basic_chart_' + i).scrollTop($('#basic_chart_' + i)[0].scrollHeight);
$('html,body').animate({scrollTop: targetOffset}, 1000);