= javascript_tag "var doe_groups_counter = 0; var doe_groups_last_index = 0;"
= javascript_tag "var params_for_doe = [#{@params_for_doe.map{|e| "'#{e[1]}'"}.join(",")}]"
= javascript_tag "var labels_for_doe = [#{@params_for_doe.map{|e| "'#{e[0]}'"}.join(",")}]"
= javascript_tag "$('#site_title').html('Design of Experiment specification')"

%section#main
  %article
    %h3 Scenario name
    = @experiment.experiment_name

  = form_tag({:action => :start}, {:onsubmit => "show_waiting_div(); prepare_data_for_doe()"}) do
    = hidden_field_tag :experiment_id, @experiment.id
    - @experiment_params.each do |key, value|
      = hidden_field_tag key.to_sym, value
    %article#specification_article
      %h3 Add new group of parameters
      %span
        Select Design of Experiment method:
        = select_tag "doe_type", select_doe_type
      = button_to_function("Add",
      "add_doe_group_article('#{escape_javascript(render :partial => "doe_group")}')",
      :class => "nice_button", :style => "float: none;")

    %article
      %h3 Actions
      .buttons
        = submit_tag "Run Data Farming experiment", :class => "nice_button"
        = check_experiment_size_section(@experiment)
        #waiting_div{:style => "display: none;"}
          %h3 Configurations for your experiments are being generated...
          = image_tag "loading.gif"

= render :partial => "experiment_size_dialog"
