= javascript_include_tag "livevalidation_standalone.compressed.js"
= javascript_tag "var vars = {}; $('#site_title').html('Input parameter values definition')"

%section#main
  %article
    %h3 Scenario name
    = @experiment.experiment_name
  
  %article
    %h3 Parameters
    = form_tag({:action => :define_doe}, {:onsubmit => "show_waiting_div()"}) do
      = hidden_field_tag :experiment_id, @experiment.id

      - @agents_hierarchy.each do |agent_group_id, list_of_agents|
        .accordion
          %h3
            %a{:href=>"#"}
              Agent group '#{agent_group_id}'
          %div
            - list_of_agents.each do |agent|
              - tab_of_params = @parameters_by_subject_id.values.select{|top| top.first.subject_id == agent.id }[0]
              - element = tab_of_params.first
              .accordion
                %h3
                  %a{:href=>"#"}
                    Parameters for #{element.subject} with ID: #{element.subject_id}
                    = "-" + element.label if element.label
                %div
                  - tab_of_params.each do |parameter|
                    %article
                      %h4=parameter_label(parameter)
                      = render_parameter_partial(parameter)
      .accordion
        - @parameters_by_subject_id.each do |id, tab_of_params|
          - element = tab_of_params.first
          - next if not @agent_in_hierarchy_ids.blank? and @agent_in_hierarchy_ids.include?(element.subject_id)
          %h3
            %a{:href=>"#"}
              Parameters for #{element.subject} with ID: #{element.subject_id} -
              = element.label if element.label
          %div
            - tab_of_params.each do |parameter|
              %article
                %h4=parameter_label(parameter)
                = render_parameter_partial(parameter)
      = javascript_tag "$(document).ready(prepare_accordion())"
    
      %article
        %h3 Actions
        .buttons
          = submit_tag "Go to Design of Experiment specification", :class => "nice_button"
          = check_experiment_size_section(@experiment)
        
          #waiting_div{:style=>"display: none;"}
            %h3 Preparing data farming parametrization...
            = image_tag "loading.gif"

= render :partial => "experiment_size_dialog"
