i = basic_chart_tab.length;

$("#basic_charts").prepend("<div id='basic_chart_" + i + "'></div>");
$("#basic_chart_"+i).html("<%= escape_javascript(render :partial => 'basic_statistics_chart', :locals => { experiment: @experiment, moe_name: @chart.moe_name, resolution: @chart.resolution, stats: @chart.stats }) %>")

$(document).ready(function() {
  basic_chart_tab[i] = new Highcharts.Chart({
  	chart: {
  		renderTo: 'basic_chart_container_<%= @experiment.id %>_<%= @chart.moe_name %>_<%= @chart.resolution %>',
  		defaultSeriesType: 'column'
  	},
  	title: { text: ' ' },
  	xAxis: {
  		title: { text: 'Value of MoE' },
  		categories: [
  		<% @chart.bucket_names.each do |bucket_name| %>
  		  '<%= bucket_name %>',
  		<% end %>
  		]
  	},
  	yAxis: {
  		title: {
  			text: '#Configurations',
  			align: 'high'
  		}
  	},
  	tooltip: {
  		formatter: function() {
  			return '#Configurations: ' + this.y;
  		}
  	},
  	plotOptions: {
  		bar: {
  			dataLabels: { enabled: true }
  		}
  	},
  	credits: { enabled: false },
  	series: [{
  	  name: "<%= @chart.moe_name %>",
      data: [
      <% @chart.buckets.each do |value| %>
  		  <%= value %>,
  		<% end %>
      ]
    }]
	});
});

$('#busy_basic').hide();
// scroll to
var targetOffset =  $('#basic_chart_' + i).offset().top;
//$('#basic_chart_' + i).scrollTop($('#basic_chart_' + i)[0].scrollHeight);
$('html,body').animate({ scrollTop: targetOffset }, 1000);