= javascript_tag "$(function() { $('#simulation_list').selectable() })"
= # socky :channels => "experiment_state_changed"

%section#main
  = render 'running_experiments'

  = render 'simulations/simulation_scenarios'

  = render 'historical_experiments'