= # socky :channels => "experiment_monitoring_#{@experiment.id}"
= javascript_include_tag 'highcharts'
= javascript_include_tag 'jit-yc'
= javascript_include_tag 'exporting'
= javascript_tag "$('#site_title').html('Experiment monitoring')"

= render 'experiment_links'
= render 'analysis_charts'

= javascript_include_tag 'experiment_booster.js'
= javascript_tag "var booster = new window.ExperimentBooster('booster_dialog');"

%section#main
  %article
    %h3 Scenario name
    = @experiment.experiment_name
  = render 'monitoring_section'
  
  %article
    %h3 Actions
    .row
      %ul.inline-list
        - if @experiment.is_running
          %li
            = button_to 'Stop experiment', stop_experiment_path(@experiment.experiment_id),
              class: 'button', :onClick => "$('#loading-img').show(); return confirm('Are you sure?')"
          %li= button_to_function 'Booster', "booster.openDialog('#{get_booster_dialog_experiment_path(@experiment.experiment_id)}');", class: 'button'
          %li= button_to_function 'Scheduling policy', "$('#scheduling_policy_dialog').dialog('open')", class: 'button'
        - else
          %li= button_to('Destroy', experiment_path(@experiment.id), method: :delete, class: 'button inline', onClick: "$('#loading-img').show(); return confirm('Are you sure?')")

        -# TODO repair download experiment results button
        -#= button_to "Download results", { :action => :download_results, :simulation_id => @experiment.id },
        -#  :class => "nice_button", :id => "get_results_button",
        -#  :style => "display: #{if @done == @all and @all != 0 then "" else "none" end};"
        %li= button_to 'Generated configurations', file_with_configurations_experiment_path(@experiment.experiment_id), class: 'button', method: :get
        %li= button_to_function 'On-line progress information',
          "$('#progress_information').slideToggle(); $('html, body').animate({ scrollTop: $('#progress_information').offset().top }, 1000);",
          class: 'button'
    .row
      %ul.inline-list
        - if @experiment.is_running
          %li
            %a#extensionDialogOpenButton.button{ 'href' => '#' } Experiment extension
        %li= image_tag 'loading.gif', :id => 'loading-img', :style => 'display: none;'
      
    = render 'scheduling_policy_dialog'

  = render 'monitoring_table'

= render 'general_purpose_dialog'

#revealLayer
#extension-dialog.reveal-modal

:javascript
  $(function() {
    // handling ajax loading of the Extension dialog
    $('#extensionDialogOpenButton').on('click', function() {
      $( '#revealLayer' ).empty();
      $( '#revealLayer' ).load( "#{extension_dialog_experiment_path(@experiment.id)}" );
      $( '#revealLayer' ).appendTo( '#extension-dialog' );
      $( '#extension-dialog' ).foundation('reveal', 'open');
      return false;
    });
  });

