= # socky :channels => "experiment_monitoring_#{@experiment.id}"
= javascript_include_tag 'highcharts'
= javascript_include_tag 'jit-yc'
= javascript_include_tag 'exporting'
= javascript_tag "$('#site_title').html('Experiment monitoring')"

= render 'experiment_links'
= render 'analysis_charts'

= javascript_include_tag 'experiment_booster.js'
= javascript_tag "var booster = new window.ExperimentBooster('booster_dialog');"

%section#main
  %article
    %h3 Scenario name
    = @experiment.name

  = render 'monitoring_section'
  
  %article
    %h3 Actions

    %nav.top-bar
      %section.top-bar-section
        %ul
          - if @experiment.is_running
            %li= button_to 'Stop experiment', stop_experiment_path(@experiment.id), :onClick => "return confirm('Are you sure?')", class: 'button'
            %li= button_to 'Extend', '#', id: 'extensionDialogOpenButton', class: 'button'
            %li= button_to_function 'Boost', "booster.openDialog('#{get_booster_dialog_experiment_path(@experiment.experiment_id)}');", class: 'button'
            %li= button_to_function 'Set scheduling policy', "$('#scheduling_policy_dialog').foundation('reveal', 'open'); $('#scheduling-ajax-response').html('');", class: 'button'
          - else
            %li= button_to 'Destroy', experiment_path(@experiment.id), method: :delete, onClick: "$('#loading-img').show(); return confirm('Are you sure?')", class: 'button'
          %li
            = button_to 'Download results', "https://#{@storage_manager_url}/experiment/#{@experiment.id}/from/1/to/#{@experiment.experiment_size}", id: 'download-dialog-buttton', class: 'button'

          %li= button_to 'Get configurations', file_with_configurations_experiment_path(@experiment.id), method: :get, class: 'button'
          %li= button_to_function 'Progress information', "$('#progress_information').slideToggle(); $('html, body').animate({ scrollTop: $('#progress_information').offset().top }, 1000);", class: 'button'
          %li= image_tag 'loading.gif', :id => 'loading-img', :style => 'display: none;'

    = render 'scheduling_policy_dialog'
  = render 'monitoring_table'
= render 'general_purpose_dialog'

#download-dialog.reveal-modal
#extension-dialog.reveal-modal

:javascript
  $(function() {
    // handling ajax loading of the Extension dialog
    $('#extensionDialogOpenButton').on('click', function() {
      $('#extension-dialog').load( "#{extension_dialog_experiment_path(@experiment.id)}" );
      $('#extension-dialog').foundation('reveal', 'open');
      return false;
    });
  });

