= # socky :channels => "experiment_monitoring_#{@experiment.id}"
= javascript_include_tag 'highcharts'
= javascript_include_tag 'jit-yc'
= javascript_include_tag 'exporting'
= javascript_tag "$('#site_title').html('Experiment monitoring')"

= render :partial => "experiment_links"
= render :partial => "analysis_charts"

= javascript_include_tag "experiment_booster.js"
= javascript_tag "var booster = new window.ExperimentBooster('booster_dialog');"

%section#main
  %article
    %h3 Scenario name
    = @experiment.experiment_name
  = render :partial => "monitoring_section"
  
  %article
    %h3 Actions
    .buttons
      - if @experiment.is_running
        = button_to "Stop experiment", { :action => :stop, :experiment_id => @experiment.id },
          :class => "nice_button", :onClick => "$('#loading-img').show(); return confirm('Are you sure?')"
        = button_to_function "Booster", "booster.openDialog();", :class => "nice_button"
        = button_to_function "Scheduling policy", "$('#scheduling_policy_dialog').dialog('open')", :class => "nice_button"
      - else
        = button_to("Destroy", { :action => :destroy, :experiment_id => @experiment.id }, :class => "nice_button", :onClick => "$('#loading-img').show(); return confirm('Are you sure?')")
        
      = button_to "Download results", { :action => :download_results, :simulation_id => @experiment.id },
        :class => "nice_button", :id => "get_results_button",
        :style => "display: #{if @done == @all and @all != 0 then "" else "none" end};"
      = button_to 'Generated configurations', file_with_configurations_experiment_path(@experiment.id),
        :class => "nice_button", :method => :get
      = image_tag "loading.gif", :id => "loading-img", :style => "display: none;"
      
    - if @experiment.is_running
      = render :partial => "booster_dialog"
      
    = render :partial => "scheduling_policy_dialog"
= render :partial => "general_purpose_dialog"
