i = bivariate_chart_tab.length;

$("#bivariate_charts").prepend("<div id='bivariate_chart_" + i + "'></div>");
$("#bivariate_chart_"+i).html("<%= escape_javascript(render partial: 'bivariate_chart') %>")

$(document).ready(function() {
    bivariate_chart_tab[i] = new Highcharts.Chart({
  	chart: {
  		renderTo: 'bivariate_chart_container_<%= @chart.x_axis %>_<%= @chart.y_axis %>',
        type: 'scatter'
  	},
  	title: { text: '\'<%= @chart.x_axis_label %>\' versus \'<%= @chart.y_axis_label %>\'' },
  	xAxis: {
  		title: { text: '<%= @chart.x_axis_label %>' }
  	},
  	yAxis: {
  		title: { text: '<%= @chart.y_axis_label %>' }
  	},
    tooltip: {
        formatter: function () {
            return '<%= @chart.x_axis_label %>: <b>' + this.x + '</b><br/><%= @chart.y_axis_label %>: <b>' + this.y + '</b><br /><b>Click for details</b>';
        }
    },
  	plotOptions: {
  	},
  	credits: { enabled: false },
  	series: [{
        name: 'Data',
        color: 'rgba(223, 83, 83, .5)',
        data: [
            <% @chart.chart_data.each do |x_value, y_values_simulation_ids|
                 y_values_simulation_ids.each do |y_value, simulation_id| %>
                  { x: <%= x_value %>, y: <%= y_value %>, simulation_id: '<%= simulation_id %>' },
                <% end
            end %>
        ],
        cursor: 'pointer',
        point: {
            events: {
                click: function () {
                    $('#extension-dialog').load("/experiments/" + "<%= @experiment.id %>" + "/simulations/" + this.simulation_id);
                    window.reopenCharts = true;
                    $('#extension-dialog').foundation('reveal', 'open');
                }
            }
        }
    }]
	});
});
$('#busy_bivariate').hide();
// scroll to
var targetOffset =  $('#bivariate_chart_' + i).offset().top;
$('html,body').animate({scrollTop: targetOffset}, 1000);