= render 'experiment_links'
= render 'analysis_charts'

%section.panel.radius
  %h3.subheader= t('simulations.conduct_experiment.overview_header')

  %p= t('simulations.conduct_experiment.overview_name', name: @experiment.simulation.name)
  %p= t('simulations.conduct_experiment.overview_description', description: @experiment.simulation.description)

%section.panel.radius#monitoring_section
  = render 'monitoring_stats'

  %article#experiment_progress_bar
    %h3.subheader= t('.progress_bar_header')

  = render 'monitoring_actions'

%section.panel.radius(style="display: none;" id="progressInformationWrapper")
  = render 'monitoring_table'

= render 'scheduling_policy_dialog'

- content_for :javascript do
  :javascript
    $(function() {
      var booster = new window.ExperimentBooster('booster_dialog');

      new window.ExperimentSpeedometer('#{@experiment.id}').show();

      var monitor = new window.ExperimentMonitor('#{@experiment.id}');
      monitor.generate_html('experiment_stats')


      $('#boostButton').on('click', function() {
        $('#extension-dialog').load( "#{get_booster_dialog_experiment_path(@experiment.id)}" );
        $('#extension-dialog').foundation('reveal', 'open');
        return false;
      });

      $('#progressButton').on('click', function() {
        $('#progressInformationWrapper').slideToggle();
        $('html, body').animate({ scrollTop: $('#progressInformationWrapper').offset().top }, 1000);
        return false;
      });

      $('#schedulingButton').on('click', function() {
        $('#scheduling_policy_dialog').foundation('reveal', 'open');
        $('#scheduling-ajax-response').html('');
        return false;
      });
    });