- content_for :title, 'Scalarm - monitoring'
- content_for :help, raw(t('help.experiments.monitoring'))

= render 'experiment_links'
= render 'analysis_charts'

%section.panel.radius
  = render 'information_panel'

%section.panel.radius.last-element#monitoring_section
  %h3.subheader= t('experiments.show.stats_header')

  .content(style="padding-top: 30px; position: relative;" )

    = render 'monitoring_stats'
    .speedometer{id: "speedometer_#{@experiment.id}"}

    %article#experiment_progress_bar(style="padding-top: 50px;" )
      %h4.subheader= t('.progress_bar_header')

    = render 'monitoring_actions'

%section.panel.radius.last-element#progressInformationWrapper(style="display: none; margin-top: 50px;")
  = render 'monitoring_table'

= render 'scheduling_policy_dialog'

- content_for :javascript do
  :javascript
    $(function() {
      var booster = new window.ExperimentBooster('booster_dialog');

      new window.ExperimentSpeedometer('#{@experiment.id}').show();

      var monitor = new window.ExperimentMonitor('#{@experiment.id}');
      monitor.generate_html('experiment_stats');
      
      window.toggle_panels_on_title_click();
    });
