- content_for :title, 'Scalarm - monitoring'

= render 'experiment_links'
= render 'analysis_charts'

%section.panel.radius
  = render 'information_panel'

%section.panel.radius.last-element#monitoring_section
  = render 'monitoring_stats'

  %article#experiment_progress_bar
    %h3.subheader= t('.progress_bar_header')
    .content

  = render 'monitoring_actions'

%section.panel.radius.last-element#progressInformationWrapper(style="display: none; margin-top: 20px;")
  = render 'monitoring_table'

= render 'scheduling_policy_dialog'

- content_for :javascript do
  :javascript
    $(function() {
      var booster = new window.ExperimentBooster('booster_dialog');

      new window.ExperimentSpeedometer('#{@experiment.id}').show();

      var monitor = new window.ExperimentMonitor('#{@experiment.id}');
      monitor.generate_html('experiment_stats');
      
      window.toggle_panels_on_title_click();
    });