<section id="amazon_infrastructure">

  <div id="amazon_configure" title="Please, provide AWS access keys to enable EC2 related functionality" class="div-dialog">
    <%= form_tag infrastructure_configure_amazon_path, :multipart => true do %>
        <div>
          <%= label :aws_access_key, "AWS Access key:" %>
          <%= text_field_tag :aws_access_key %>
        </div>
        <div>
          <%= label :aws_secret, "AWS Secret:" %>
          <%= password_field_tag :aws_secret %>
        </div>

        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#aws-configure-busy').show()", :class => "nice_button" %>
          <%= image_tag "loading.gif", :id => "aws-configure-busy", :style => "display: none;" %>
        </div>
    <% end %>

    <%= form_tag infrastructure_configure_amazon_path, :multipart => true do %>
        <div>
          <%= label :grouping_factor, "Grouping factor:" %>
          <%= text_field_tag :grouping_factor %>
        </div>

        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#aws-configure-busy').show()", :class => "nice_button" %>
          <%= image_tag "loading.gif", :id => "aws-configure-busy", :style => "display: none;" %>
        </div>
    <% end %>
  </div>

  <%= javascript_tag "prepare_dialog('amazon_configure')" %>

  <div id="amazon_add_instance" title="Create new AWS instances" class="div-dialog">
    <%= form_tag infrastructure_run_amazon_instances_path do %>
        <div>
          <%= label :vm_counter, "VM counter:" %>
          <%= text_field_tag :vm_counter, "1" %>
        </div>
        <div>
          <%= label :vm_type, "VM type:" %>
          <%= select_tag "vm_type", amazon_instance_types %>
        </div>
        <!--<div>-->
            <!--<%= label :region, "Region:" %>-->
            <!--<%= select_tag "region", amazon_regions %>-->
        <!--</div>-->
        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#aws-add-instance-busy').show()" %>
          <%= image_tag "loading.gif", :id => "aws-add-instance-busy", :style => "display: none;" %>
        </div>
    <% end %>

    <p>
      One EC2 Compute Unit provides the equivalent CPU capacity of a 1.0-1.2 GHz 2007 Opteron or 2007 Xeon processor.
    </p>
    <p>
      <a href="http://aws.amazon.com/ec2/instance-types/">Detailed Amazon Instance description</a>
    </p>
  </div>

  <%= javascript_tag "prepare_dialog('amazon_add_instance')" %>
</section>