<section id="plgrid">

  <div id="plgrid_configure" title="Please, provide credentials to access PL-Grid infrastructure via glite " class="div-dialog">

    <%= form_tag infrastructure_configure_plgrid_path do %>
        <%= hidden_field_tag :user_id, session[:user] %>

        <div>
            <%= label :host, "PL-Grid access host:" %>
            <%= text_field_tag :host, session[:grid_credentials] ? session[:grid_credentials].host : "" %>
        </div>
        <div>
          <%= label :username, "PL-Grid username:" %>
          <%= text_field_tag :username, session[:grid_credentials] ? session[:grid_credentials].login : "" %>
        </div>
        <div>
          <%= label :password, "Password:" %>
          <%= password_field_tag :password, session[:grid_credentials] ? session[:grid_credentials].password : "" %>
        </div>
        <div>
          <%= label :save_settings, "Save settings:" %>
          <%= check_box_tag :save_settings, "1", session[:grid_credentials] %>
        </div>

        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#plgrid-configure-busy').show()", :class => "nice_button" %>
          <%= image_tag "loading.gif", :id => "plgrid-configure-busy", :style => "display: none;" %>
        </div>
    <% end %>

    <%= form_tag infrastructure_configure_plgrid_grouping_factor_path do %>
        <div>
          <%= label :plgrid_grouping_factor, "Jobs grouping factor:" %>
          <%= text_field_tag :plgrid_grouping_factor %>
        </div>

        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#plgrid-configure-busy').show()", :class => "nice_button" %>
        </div>
    <% end %>
  </div>

  <%= javascript_tag "prepare_dialog('plgrid_configure')" %>

  <div id="plgrid_run_jobs" title="Submit grid jobs to the PL-Grid infrastructure" class="div-dialog">
    <%= form_tag infrastructure_submit_job_to_plgrid_path do %>
        <%= hidden_field_tag :user_id, session[:user] %>

        <div>
          <%= label :job_counter, "Number of jobs:" %>
          <%= text_field_tag :job_counter %>
        </div>
        <div>
          <%= label :time_limit, "Time limit for a single job [min]:" %>
          <%= text_field_tag :time_limit %>
        </div>
        <div>
          <%= label :simulation_limit, "#Simulations limit for a single job:" %>
          <%= text_field_tag :simulation_limit %>
        </div>

        <div class="buttons">
          <%= submit_tag "Submit", :onclick => "$('#grid-busy').show()" %>
          <%= image_tag "loading.gif", :id => "grid-busy", :style => "display: none;" %>
        </div>
    <% end %>
  </div>

  <%= javascript_tag "prepare_dialog('plgrid_run_jobs')" %>

</section>