<section id="private_infrastructure">
  <!-- <article>
    <h3>
      Private infrastructure 
      <%= image_tag "loading.gif", :size => "24x24", :id => "busy", :style => "display:none;" %>
    </h3>

    <div id="infrastructure_tree">
      <ul><%= render :partial => "physical_machine", :collection => @machines %></ul>
    </div>
  </article> -->
  
  <article>
    <!-- <div class="buttons">
          <%= button_to_function "Start all VMs",
              "$('[alt=\"Run\"]').each(function(i, element) { $(element).parent().click() })", 
              :class => "nice_button" %>
          <%= button_to_function "Pause all VMs",
                  "$('[alt=\"Pause\"]').each(function(i, element) { $(element).parent().click() })", 
                  :class => "nice_button" %>
          <%= button_to_function "Stop all VMs",
              "$('[alt=\"Stop\"]').each(function(i, element) { $(element).parent().click() })", 
              :class => "nice_button" %>
          <%= button_to_function "Create several virtual machines at once",
              "$('#batch_vms_form').dialog('open')",
              :class => "nice_button" %>
        </div> -->
  </article>
  
  <div id="dialog-form" title="Create new virtual machine" class="div-dialog">
    <%= form_tag(url_for({:action => :create_vm}), :remote => true) do %>
      <%= hidden_field_tag "machine_id" %>
      <div>
        <label for="name">Name:</label>
        <%= text_field_tag "name" %>
      </div>
      <div>
        <label for="cpu">CPU cores:</label>
        <%= text_field_tag "cpu", "1" %>
      </div>
      <div>
        <label for="memory">Memory:</label>
        <%= text_field_tag "memory", "1024" %>
      </div>
      <div class="buttons">
        <%= submit_tag "Create", :onClick => "$('#dialog-form').dialog('close'); $('#busy').show();" %>
      </div>
    <% end %>
  </div>
  
  <%= javascript_tag "prepare_dialog('dialog-form')"%>
  
  <div id="batch_vms_form" title="Create several virtual machines" class="div-dialog">
    <%= form_tag(url_for({:action => :create_several_vms}), :remote => true) do %>
      <div>
        <label>The number of virtual machines:</label>
        <%= text_field_tag "number" %>
      </div>
      <div>
        <label>CPU cores for a single VM:</label>
        <%= text_field_tag "cpus", "1" %>
      </div>
      <div>
        <label>Memory for a single VM:</label>
        <%= text_field_tag "memory", "1024" %>
      </div>
      <div class="buttons">
        <%= submit_tag "Create", :onClick => "$('#batch_vms_form').dialog('close'); $('#busy').show();" %>
      </div>
    <% end %>
  </div>
  
  <%= javascript_tag "prepare_dialog('batch_vms_form')"%>
  
  <div id="register_form" title="Register physical machine" class="div-dialog">
    <%= form_for :physical_machine, :url => { :action => "register_physical_machine" }, :remote => true do |f| %>
        <div>
            <%= f.label :ip, "IP address" %>:
            <%= f.text_field :ip %>
        </div>
        <div>
            <%= f.label :username, "Username" %>:
            <%= f.text_field :username %>
        </div>
        <div class="buttons">
          <%= f.submit "Register", :onclick => "$('#register-busy').show();" %>
        </div>
        <%= image_tag "loading.gif", :id => "register-busy", :style => "display: none;" %>
    <% end %>
  </div>

  <%= javascript_tag "prepare_dialog('register_form')"%>

  <div id="register_simulation_manager_form" title="Register simulation manager" class="div-dialog">
    <%= form_for :simulation_manager_host, :url => {:action => "register_simulation_manager_host"} do |f| %>
        <div>
          <%= f.label :ip, "IP address" %>:
          <%= f.text_field :ip %>
        </div>
        <div>
          <%= f.label :port, "Port" %>:
          <%= f.text_field :port %>
        </div>
        <div class="buttons">
          <%= f.submit "Register", :onclick => "$('#register-busy').show();" %>
        </div>
        <%= image_tag "loading.gif", :id => "register-busy", :style => "display: none;" %>
    <% end %>
  </div>
  
  <%= javascript_tag "prepare_dialog('register_simulation_manager_form')"%>
  
  <div id="vm_info_dialog" title="Virtual machine properties" class="div-dialog">
    <div>
      <label>Name:</label>
      <span id='vm_info_name'></span>
    </div>
    <div>
      <label>The number of CPUs:</label>
      <span id='vm_info_cpus'></span>
    </div>
    <div>
      <label>The amount of RAM memory:</label>
      <span id='vm_info_memory'></span> MB
    </div>
  </div>
  
  <%= javascript_tag "prepare_dialog('vm_info_dialog')"%>
  
  <div id="pm_info_dialog" title="Physical machine properties" class="div-dialog">
    <div>
      <label>IP address:</label>
      <span id="pm_info_ip"></span>
    </div>
    <div>
      <label>Username:</label>
      <span id="pm_info_username"></span>
    </div>
    <div>
      <label>The number of CPUs:</label>
      <span id="pm_info_cpus"></span>
    </div>
    <div>
      <label>CPU model:</label>
      <span id="pm_info_cpu_model"></span>
    </div>
    <div>
      <label>CPU frequency:</label>
      <span id="pm_info_cpu_freq"></span> MHz
    </div>
    <div>
      <label>The amount of RAM memory:</label>
      <span id="pm_info_memory"></span> MB
    </div>
  </div>
  
  <%= javascript_tag "prepare_dialog('pm_info_dialog')"%>
</section>