<% if not virtual_machine.name == "testing" then %>

<li id="vm_<%= virtual_machine.id %>" class="jstree-leaf">
  <span>
    <%= image_tag "icon_linux_smaller.png" %>
    <%= "#{virtual_machine.name} - State: #{virtual_machine.state}" %>

    <% if virtual_machine.state != 'running' then %>
        <% if virtual_machine.state != 'paused' then %>
            <%= vm_manage_button "run.png", "create", virtual_machine.id %>
        <% else %>
            <%= vm_manage_button "run.png", "resume", virtual_machine.id %>
        <% end %>
    <% else %>
        <%= image_tag("run_gray.png") %>
    <% end %>
    <% if virtual_machine.state == 'running' then %>
        <%= vm_manage_button "pause.png", "suspend", virtual_machine.id %>
    <% else %>
        <%= image_tag("pause_gray.png") %>
    <% end %>
    <% if virtual_machine.state != 'shutdown' then %>
        <%= vm_manage_button "stop.png", "destroy", virtual_machine.id %>
    <% else %>
        <%= image_tag("stop_gray.png") %>
    <% end %>
    <%= link_to image_tag("unregister.png"), url_for(:action => :destroy_vm, :vm_id => virtual_machine.id), :remote => true, :onClick => "$('#vm-busy-#{virtual_machine.id}').show()" %>
    <%= image_tag("info.gif", :onclick => "$('#vm_#{virtual_machine.id}_info_dialog').dialog('open')") %>
    
    <%= image_tag "loading.gif", :id => "vm-busy-#{virtual_machine.id}", :size => "16x16", :style => "display: none;" %>
  </span>
  
  <div id="vm_<%= virtual_machine.id %>_info_dialog" title="Virtual machine properties">
    <div>
      Name:
      <%= virtual_machine.name %>
    </div>
    <br/>
    <div>
      The number of CPUs:
      <%= virtual_machine.cpus %>
    </div>
    <br/>
    <div>
      The amount of RAM memory:
      <%= virtual_machine.memory %> MB
    </div>
  </div>
  
  <%= javascript_tag "$('#vm_#{virtual_machine.id}_info_dialog').dialog({
		autoOpen: false,
		height: 250,
		width: 350,
		modal: true,
		buttons: {			},
		close: function() {
		}
	});" %>
</li>

<% end %>
