<div>
  <%= image_tag "loading.gif", :id => "vm-busy-#{vm.id}", :size => "16x16", :style => "display: none;" %>
  <%= image_tag "icon_linux_smaller.png" %>
  <%= vm.name %><br/>
  State: <%= vm.state %><br/>
  <div>
    <% if vm.state != "running" %>
        <% if vm.state != "paused" %>
            <%= vm_manage_button("run.png", "create", vm.id) %>
        <% else %>
            <%= vm_manage_button("run.png", "resume", vm.id) %>
        <% end %>
    <% else %>
        <%= image_tag "run_gray.png" %>
    <% end %>

    <% if vm.state == "running" %>
        <%= vm_manage_button("pause.png", "suspend", vm.id) %>
    <% else %>
        <%= image_tag "pause_gray.png" %>
    <% end %>

    <% if vm.state != "shutdown" %>
        <%= vm_manage_button("stop.png", "destroy", vm.id) %>
    <% else %>
        <%= image_tag "stop_gray.png" %>
    <% end %>

    <%= link_to image_tag("unregister.png"), url_for(:action => :destroy_vm, :vm_id => vm.id), 
          :remote => true, :onClick => "$('#vm-busy-#{vm.id}').show()" %>
          
    <% vm_info_dialog_args = [vm.name, vm.cpus, vm.memory].join("','") %>
    <%= image_tag "info.gif", :onclick => "open_vm_info_dialog('#{vm_info_dialog_args}')" %>
  </div>
</div>