<%= javascript_include_tag "simulation_manager_facet.js" %>
<%= javascript_include_tag "jquery.jstree.js" %>
<%= javascript_include_tag "infrastructure.js" %>
<%= # socky :channels => "infrastructure" %>

<%= javascript_tag "$(function() { infrastructure_init() })"%>

<section id="main">
  <%= render :partial => "infrastructure_graph" %>

  <%= render :partial => "private_infrastructure" %>
  <%= render :partial => "amazon_infrastructure" %>
  <%= render :partial => "plgrid" %>
</section>
