%p
  %p= @current_state_summary
  %ul.circle
    - @simulation_managers.each do |record|
      %li
        - begin
          %strong= t('infrastructure.information.private_machine.sm_info.machine_desc') + ': '
          =record.credentials.machine_desc.to_s + ', '
          %strong= t('infrastructure.information.private_machine.sm_info.pid') + ': '
          =(record.pid ? record.pid.to_s : '-') + ', '
          %strong= t('infrastructure.information.launched_at') + ': '
          =record.created_at.to_s + ', '
          %strong= t('infrastructure.information.time_limit') + ': '
          =record.time_limit.to_s
          %br
          %strong= t('infrastructure.information.experiment_id') + ': '
          =record.experiment_id.to_s
          - unless record.error.nil?
            %br
            %strong= t('infrastructure.information.private_machine.sm_info.error') + ': '
            =record.error.to_s
            - unless record.error_log.nil?
              %br
              %strong= t('infrastructure.information.private_machine.sm_info.error_log') + ': '
              %br
              =raw(record.error_log.sub('\n', '<br/>'))

        - rescue Exception => e
          =t('infrastructure.information.sm_record_error', error: e.to_s)