%table#machines-table{style: 'width: 100%'}
  %thead
    %tr
      %th{width: 8}
        = ''
      %th
        = t('infrastructure.credentials.images_manager.cloud_name')
      %th
        = t('infrastructure.credentials.images_manager.image_id')
      %th
        = t('infrastructure.credentials.images_manager.image_label')
      %th
        = t('infrastructure.credentials.images_manager.login')
      %th
        = t('infrastructure.credentials.images_manager.actions')
      %th
        = ''

  %tbody
    - CloudImageSecrets.find_all_by_user_id(@current_user.id).each do |secrets|
      - row_id = "info-row-#{secrets.cloud_name}-#{secrets.id}"
      %tr{id: "#{row_id}"}
        %td
          - if secrets.invalid
            %i.fi-alert.credentials-alert{id: "#{row_id}-icon-alert", title: t('infrastructure.credentials.invalid_tooltip')}
          - else
            %i.fi-check.credentials-ok{id: "#{row_id}-icon-ok", title: t('infrastructure.credentials.no_problems_tooltip')}
        %td
          .small-12.columns.text-center
            =CloudFacadeFactory.instance.client_class(secrets.cloud_name).long_name
        %td
          .small-12.columns.text-center
            = secrets.image_id
        %td
          .small-12.columns.text-center
            = secrets.label.to_s
        %td
          .small-12.columns.text-center
            = secrets.image_login
        %td
          .small-12.columns.text-center
            = button_to t('infrastructure.credentials.images_manager.remove'),
              remove_credentials_infrastructure_path(infrastructure_name: secrets.cloud_name,
                record_id: secrets.id, credential_type: 'image'), class: "button radius tiny alert",
                remote: true, form: { "data-type" => "json" }
        %td
          .small-12.columns.text-center
            = image_tag 'loading.gif', id: "#{row_id}-busy", size: '24x24', class: 'hidden'
