%table#machines-table{style: 'width: 100%'}
  %thead
    %tr
      %th{width: 8}
        = ''
      %th
        = t('infrastructure.credentials.images_manager.cloud_name')
      %th
        = t('infrastructure.credentials.images_manager.image_id')
      %th
        = t('infrastructure.credentials.images_manager.image_label')
      %th
        = t('infrastructure.credentials.images_manager.login')
      %th
        = t('infrastructure.credentials.images_manager.actions')
      %th
        = ''

  %tbody
    - CloudImageSecrets.find_all_by_user_id(@current_user.id).each do |image|
      - row_id = "info-row-#{image.cloud_name}-#{image.image_id}"
      %tr{id: "#{row_id}"}
        %td
          - if image.invalid
            %i.fi-alert.credentials-alert{id: "#{row_id}-icon-alert", title: t('infrastructure.credentials.invalid_tooltip')}
          - else
            %i.fi-check.credentials-ok{id: "#{row_id}-icon-ok", title: t('infrastructure.credentials.verified_tooltip')}
        %td
          .small-12.columns.text-center
            =CloudFacadeFactory.instance.client_class(image.cloud_name).long_name
        %td
          .small-12.columns.text-center
            = image.image_id
        %td
          .small-12.columns.text-center
            = image.label.to_s
        %td
          .small-12.columns.text-center
            = image.image_login
        %td
          .small-12.columns.text-center
            = button_to t('infrastructure.credentials.images_manager.remove'), remove_credentials_infrastructure_path(infrastructure_name: image.cloud_name, record_id: image.id, credential_type: 'image'), class: "remove-button button radius tiny", remote: true, form: { "data-type" => "json" }
        %td
          .small-12.columns.text-center
            = image_tag 'loading.gif', id: "#{row_id}-busy", size: '24x24', class: 'hidden'
