%table#machines-table{style: 'width: 100%'}
  %thead
    %tr
      %th{width: 8}
        = ''
      %th
        = t('infrastructure.credentials.private_machines_manager.host')
      %th
        = t('infrastructure.credentials.private_machines_manager.port')
      %th
        = t('infrastructure.credentials.private_machines_manager.login')
      %th
        = t('infrastructure.credentials.private_machines_manager.actions')
      %th
        = ''
  %tbody
    - PrivateMachineCredentials.where(user_id: current_user.id).each do |machine_creds|
      - row_id = "info-row-#{machine_creds.id}"
      %tr{id: "#{row_id}"}
        %td
          - if machine_creds.invalid
            %i.fi-alert.credentials-alert{id: "#{row_id}-icon-alert", title: t('infrastructure.credentials.invalid_tooltip')}
          - else
            %i.fi-check.credentials-ok{id: "#{row_id}-icon-ok", title: t('infrastructure.credentials.verified_tooltip')}
        %td
          = machine_creds.host
        %td
          = machine_creds.port
        %td
          = machine_creds.login
        %td
          = button_to t('infrastructure.credentials.private_machines_manager.remove'),
            remove_credentials_infrastructure_path(infrastructure_name: 'private_machine', record_id: machine_creds.id),
            class: "button radius tiny alert", remote: true, form: { "data-type" => "json" }
        %td
          = image_tag 'loading.gif', id: "#{row_id}-busy", size: '24x24', class: 'hidden'
