%hr
.row.submit-section

  = hidden_field_tag 'simulation_id', @simulation._id
  = hidden_field_tag 'experiment_input'
  = hidden_field_tag 'computing_power'
  = hidden_field_tag 'doe'
  = hidden_field_tag 'calculate-experiment-size-url', calculate_experiment_size_experiments_path

  .row
    .small-6.columns
      = label_tag :replication_level, t('.replication_level_label') + ':', class: 'right inline'
    .small-6.columns
      = text_field_tag 'replication_level', 1
  .row
    .small-6.columns
      = label_tag :execution_time_constraint, t('.time_constraint_label') + ':', class: 'right inline'
    .small-6.columns
      = text_field_tag 'execution_time_constraint', 3600

  = submit_tag t('.submit_button'), class: 'button radius last-element'
  = button_tag t('.experiment_size_button'), class: 'button radius last-element', id: 'check-experiment-size'