
= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
= hidden_field_tag :privkey, ""

.row
  .small-6.large-4.columns
    = label_tag :type, t('user_controller.clusters.type') + ':', class: 'inline right'
  .small-6.large-4.columns.end
    = select_tag :type, options_for_select([ [ t('user_controller.clusters.password_type'), 'password'], [ t('user_controller.clusters.privkey_type'), 'privkey'] ], 'password')

.row
  .small-6.large-4.columns
    = label_tag :login, t('.login') + ':', class: 'inline right'
  .small-6.large-4.columns.end
    = text_field_tag :login

.row.credentials-specific.password-type
  .small-6.large-4.columns
    = label_tag :password, t('.password') + ':', class: 'inline right', autocomplete: :off
  .small-6.large-4.columns.end
    = password_field_tag :password

.row.credentials-specific.password-type
  .small-6.large-4.columns
    = label_tag :password_repeat, t('.password_repeat') + ':', class: 'inline right', autocomplete: :off
  .small-6.large-4.columns.end
    = password_field_tag :password_repeat

.row.credentials-specific.privkey-type{style: "display: none;"}
  .small-6.large-4.columns
    = label_tag :private_key_file, t('.private_key') + ':', class: 'inline right'
  .small-6.large-4.columns.end
    = file_field_tag :private_key_file

