-credentials_tabs=[:plgrid, :amazon, :google]
-machines_tabs=[:private_machine]

%section.panel.radius(style="margin-top: 15px;")
  %h3=t('.manage_infrastructures')
  .row
    %dl.accordion(data-accordion="")
      - credentials_tabs.each do |tab_id|
        %dd
          %a(href="##{tab_id}")
            %i.fi-alert.credentials-alert.hidden{id: "#{tab_id}-icon-alert"}
            %i.fi-x.credentials-lack.hidden{id: "#{tab_id}-icon-lack"}
            %i.fi-check.credentials-ok.hidden{id: "#{tab_id}-icon-ok"}
            = raw '&nbsp;&nbsp;'
            = t(".#{tab_id}")
          .content{id: tab_id, class: params[:active_tab] == tab_id.to_s ? 'active' : ''}
            .small-12.small-centered.columns

              .row.hidden{id: "#{tab_id}-alert-panel"}
                %data-alert.alert-box.warning.radius
                  %i.fi-alert
                  = raw '&nbsp;&nbsp;'
                  = t('infrastructure.credentials.invalid_credentials')

              .row.hidden{id: "#{tab_id}-banned-alert-panel"}
                %data-alert.alert-box.warning.radius
                  %i.fi-prohibited
                  = raw '&nbsp;&nbsp;'
                  = t('infrastructure.credentials.banned_alert')

              = render partial: "infrastructure/credentials/#{tab_id}"

              .row{id: "#{tab_id}-remove-panel"}
                .small-3.small-centered.columns.text-center
                  %span{id: "#{tab_id}-remove-button", class: "#{button_classes} alert"}= t('infrastructure.information.remove_credentials')
              .row
                .small-12.columns.text-center
                  = image_tag 'loading.gif', id: "#{tab_id}-busy", class: 'hidden'

      - machines_tabs.each do |tab_id|
        %dd
          %a(href="##{tab_id}")
            = t(".#{tab_id}")
          .content{id: tab_id, class: params[:active_tab] == tab_id.to_s ? 'active' : ''}
            .small-12.small-centered.columns

              .row
                %dl.accordion(data-accordion="")
                  %dd
                    %a(href="##{tab_id}-submission-panel")= t('infrastructure.information.machine_submission_label')
                    .content.active{id: "#{tab_id}-submission-panel"}

                      -#Submission form partial
                      = render partial: "infrastructure/credentials/#{tab_id}"

                      .row
                        .small-12.columns.text-center
                          = image_tag 'loading.gif', id: "#{tab_id}-busy", class: 'hidden'

                  %dd
                    %a(href="##{tab_id}-table-panel")= t('infrastructure.information.table_label')
                    .content{id: "#{tab_id}-table-panel"}

                      -#Table partial
                      %div{id: "#{tab_id}-table-partial"}

      %dd
        %a(href="#clusters")
          = t(".clusters")
        .content{id: "clusters", class: params[:active_tab] == "clusters" ? 'active' : ''}
          = render partial: "clusters"
