%section#main.panel.radius
  .row.small-12.small-centered.columns
    .panel.callout.password-change-msg.text-center= t('.password_change_message')

    = form_tag user_controller_change_password_path, id: 'credentials', "data-abide" =>'' do
      .row
        .small-5.columns
          %label.right.inline= t('.login')
        .small-5.columns.end(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= current_user.login

      .row
        .small-5.columns
          %label.right.inline(for='current_password')= t('.current_password')
        .small-4.columns.end
          = password_field_tag 'current_password', '', class: 'inline', autocomplete: :off

      .row
        .small-5.columns
          %label.right.inline(for='password')= t('.password')
        .small-4.columns.end
          = password_field_tag 'password', '', class: 'inline', autocomplete: :off, required: true
          %small(class="error")= t('.new_password_required')

      .row
        .small-5.columns
          %label.right.inline(for='password_repeat')= t('.repeat_password')
        .small-4.columns.end
          = password_field_tag 'password_repeat', '', class: 'inline', autocomplete: :off, required: true, "data-equalto" => "password"
          %small(class="error")= t('.passwords_not_match')

      .row
        .small-6.small-centered.columns(style="text-align:center;")
          = submit_tag t('.change_password'), class: 'button radius'