- content_for :title, 'Scalarm'
- content_for :help, raw(t('help.users.summary'))

-credentials_tabs=[:plgrid, :pl_cloud, :amazon, :google]
-#-machines_tabs=[:images_manager, :private_machines_manager]
-machines_tabs=[:private_machine, :cloud_image]

%header
  .row
    .small-12.small-centered.columns(style="text-align: center;")
      %h2= t('account-title')

%section#main.panel.radius
  .row.small-12.small-centered.columns
    = form_tag user_controller_change_password_path, id: 'credentials', "data-abide" =>'' do
      .row
        .small-5.columns
          %label.right.inline= t('.login')
        .small-5.columns.end(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= current_user.login

      -#.row
      -#  .small-5.columns
      -#    %label.right.inline= t('.certificate')
      -#  .small-4.columns.end(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
      -#    %span.inline= current_user.dn || t('.empty_dn')

      .row
        .small-5.columns
          %label.right.inline(for='current_password')= t('.current_password')
        .small-4.columns.end
          = password_field_tag 'current_password', '', class: 'inline', autocomplete: :off

      .row
        .small-5.columns
          %label.right.inline(for='password')= t('.password')
        .small-4.columns.end
          = password_field_tag 'password', '', class: 'inline', autocomplete: :off, required: true
          %small(class="error") New password is required
      .row
        .small-5.columns
          %label.right.inline(for='password_repeat')= t('.repeat_password')
        .small-4.columns.end
          = password_field_tag 'password_repeat', '', class: 'inline', autocomplete: :off, required: true, "data-equalto" => "password"
          %small(class="error") Password did not match
      .row
        .small-6.small-centered.columns(style="text-align:center;")
          = submit_tag t('.change_password'), class: 'button radius'

%section.panel.radius(style="margin-top: 15px;")
  %h3=t('.manage_infrastructures')
  .row
    %dl.accordion(data-accordion="")
      - credentials_tabs.each do |tab_id|
        %dd
          %a(href="##{tab_id}")
            %i.fi-alert.credentials-alert.hidden{id: "#{tab_id}-icon-alert"}
            %i.fi-x.credentials-lack.hidden{id: "#{tab_id}-icon-lack"}
            %i.fi-check.credentials-ok.hidden{id: "#{tab_id}-icon-ok"}
            = raw '&nbsp;&nbsp;'
            = t(".#{tab_id}")
          .content{id: tab_id, class: params[:active_tab] == tab_id.to_s ? 'active' : ''}
            .small-12.small-centered.columns

              .row.hidden{id: "#{tab_id}-alert-panel"}
                %data-alert.alert-box.warning.radius
                  %i.fi-alert
                  = raw '&nbsp;&nbsp;'
                  = t('infrastructure.credentials.invalid_credentials')

              .row.hidden{id: "#{tab_id}-banned-alert-panel"}
                %data-alert.alert-box.warning.radius
                  %i.fi-prohibited
                  = raw '&nbsp;&nbsp;'
                  = t('infrastructure.credentials.banned_alert')

              = render partial: "infrastructure/credentials/#{tab_id}"

              .row{id: "#{tab_id}-remove-panel"}
                .small-3.small-centered.columns.text-center
                  %span{id: "#{tab_id}-remove-button", class: "#{button_classes} alert"}= t('infrastructure.information.remove_credentials')
              .row
                .small-12.columns.text-center
                  = image_tag 'loading.gif', id: "#{tab_id}-busy", class: 'hidden'

      - machines_tabs.each do |tab_id|
        %dd
          %a(href="##{tab_id}")
            = t(".#{tab_id}")
          .content{id: tab_id, class: params[:active_tab] == tab_id.to_s ? 'active' : ''}
            .small-12.small-centered.columns

              .row
                %dl.accordion(data-accordion="")
                  %dd
                    %a(href="##{tab_id}-submission-panel")= t('infrastructure.information.machine_submission_label')
                    .content.active{id: "#{tab_id}-submission-panel"}

                      -#Submission form partial
                      = render partial: "infrastructure/credentials/#{tab_id}"

                      .row
                        .small-12.columns.text-center
                          = image_tag 'loading.gif', id: "#{tab_id}-busy", class: 'hidden'

                  %dd
                    %a(href="##{tab_id}-table-panel")= t('infrastructure.information.table_label')
                    .content{id: "#{tab_id}-table-panel"}

                      -#Table partial
                      %div{id: "#{tab_id}-table-partial"}

      %dd
        %a(href="#clusters")
          = t(".clusters")
        .content{id: "clusters", class: params[:active_tab] == "clusters" ? 'active' : ''}
          = render partial: "clusters"


- content_for :javascript do
  :javascript
    $(function() {
      $("#credentials .button.radius").bind("click", function() {
       $("#credentials")
        .on('valid.fndtn.abide', function(){

          $("#credentials .button.radius").click();
        })
        .on('invalid.fndtn.abide', function(){
          $(this).find('[data-invalid]').blur();

        });


      });
    });
