-tabs=[:plgrid, :pl_cloud, :amazon, :images_manager, :private_machines_manager]

%header
  .row
    .small-12.small-centered.columns(style="text-align: center;")
      %h2= t('account-title')

%section#main.panel.radius
  .row.small-12.small-centered.columns
    = form_tag user_controller_change_password_path do
      .row
        .small-5.columns
          %label.right.inline= t('.login')
        .small-5.columns(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= @current_user.login
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline= t('.certificate')
        .small-4.columns(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= @current_user.dn || t('.empty_dn')
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline(for='password')= t('.password')
        .small-4.columns
          = password_field_tag 'password', '', class: 'inline'
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline(for='password_repeat')= t('.repeat_password')
        .small-4.columns
          = password_field_tag 'password_repeat', '', class: 'inline'
        .small-1.columns

      .row
        .small-6.small-centered.columns(style="text-align:center;")
          = submit_tag t('.change_password'), class: 'button radius'

%section.panel.radius(style="margin-top: 15px;")
  %h3=t('.manage_infrastructures')
  .row
    %dl.accordion(data-accordion="")
      - tabs.each do |tab_id|
        %dd
          %a(href="##{tab_id}")= t(".#{tab_id}")
          .content{id: tab_id, class: params[:active_tab] == tab_id.to_s ? 'active' : ''}
            = render partial: "infrastructure/credentials/#{tab_id}", locals: { user: @current_user }
