%section#main.panel.radius
  .row.small-12.small-centered.columns
    = form_tag user_controller_change_password_path do
      .row
        .small-5.columns
          %label.right.inline= t('.login')
        .small-5.columns(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= @current_user.login
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline= t('.certificate')
        .small-4.columns(style="line-height: 31px; vertical-align: middle;font-size: larger;" )
          %span.inline= @current_user.dn || t('.empty_dn')
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline(for='password')= t('.password')
        .small-4.columns
          = password_field_tag 'password', '', class: 'inline'
        .small-1.columns

      .row
        .small-5.columns
          %label.right.inline(for='password_repeat')= t('.repeat_password')
        .small-4.columns
          = password_field_tag 'password_repeat', '', class: 'inline'
        .small-1.columns

      .row
        .small-6.small-centered.columns(style="text-align:center;")
          = submit_tag t('.change_password'), class: 'button radius'
  .row
    %dl.accordion(data-accordion="")
      - InfrastructureFacade.get_registered_infrastructures.each do |infrastructure_id, infrastructure_info|
        %dd
          %a(href="##{infrastructure_id}")= "#{infrastructure_info[:label]} credentials"
          .content{id: infrastructure_id}
            = render partial: "infrastructure/credentials/#{infrastructure_id}", locals: { user: @current_user }

      -#%dd
      -#  %a(href='#credentials-panel')= 'Manage credentials' # TODO: translate
      -#  .content#credentials-panel
      -#    - first = true
      -#    %dl.tabs(data-tab="")
      -#      - InfrastructureFacade.get_registered_infrastructures.each do |infrastructure_id, infrastructure_info|
      -#        %dd{class: "#{first ? 'active' : '' }"}
      -#          = render partial: "infrastructure/credentials/#{infrastructure_id}", locals: { experiment: @experiment, user: @current_user }
      -#        - first = false if first


      -#%dd
      -#  %a(href='#amazon-submission-panel')= 'test1'
      -#  .content#amazon-submission-panel
      -#    %p='hello content'
      -#%dd
      -#  %a(href='#pl_cloud-submission-panel')= 'test2'
      -#  .content#pl_cloud-submission-panel
      -#    %p='world content'
