%header
  .row
    .small-12.small-centered.columns(style="text-align: center;")
      %h2= t('.title')

%section.panel.radius.welcome-panel
  .row
    .small-12.columns
      -#TODO: i18n
      %h3(style="text-align: center;")= "Start Data Farming experiment"
      -#t('.header')

  .row
    .small-3.columns.left
      .row
        .small-9.columns
          = welcome_link(user_controller_account_path, 'user')
          .icon-caption= t('.step_1')
        .small-3.columns
          = icon 'chevron-right', nil, style: 'padding-top: 24px;'

    .small-3.columns.left
      .row
        .small-9.columns
          = welcome_link(simulations_registration_path, 'upload')
          .icon-caption= t('.step_2')
        .small-3.columns
          = icon 'chevron-right', nil, style: 'padding-top: 24px;'

    .small-3.columns.left
      .row
        .small-9.columns
          %a.available_experiments_link{href: '#', "data-action-url" => simulations_simulation_scenarios_path}
            %span.button.radius.last-element.secondary
              = icon 'flask'
          .icon-caption= t('.step_3')
        .small-3.-columns
          = icon 'chevron-right', nil, style: 'padding-top: 24px;'

    .small-3.columns.left
      .row
        .small-9.columns.left
          %a.running_experiments_link{href: '#', "data-action-url" => running_experiments_experiments_path}
            %span.button.radius.last-element.secondary
              = icon 'file-text-o'
          .icon-caption= t('.step_4')

  .row
    .small-12.columns
      -#TODO: i18n
      %h3(style="text-align: center;")= "After experiments completion"

  .row
    .small-3.columns.left
      .row
        .small-9.columns
          %a.historical_experiments_link{href: '#', "data-action-url" => completed_experiments_experiments_path}
            %span.button.radius.last-element.secondary
              = icon 'file-text'
          .icon-caption= t('.step_5')
        .small-3.columns
          = icon 'chevron-right', nil, style: 'padding-top: 24px;'

    .small-3.columns.left
      .row
        .small-9.columns.left
          %a.historical_experiments_link{href: '#', "data-action-url" => historical_experiments_experiments_path}
            %span.button.radius.last-element.secondary
              = icon 'file-archive-o'
          .icon-caption= t('.step_6')


#experiment-list-modal.reveal-modal(data-reveal="")
  %a.close-reveal-modal &#215;
  = image_tag 'loading.gif', class: 'busy', style: 'display: none;'
  .content(style="display:none;")


- content_for :javascript do
  :javascript
    $(function() {
      new window.ExperimentLinksManager("#experiment-list-modal");
    });
