- content_for :title, 'Scalarm - login'

%header
  .row
    .small-12.small-centered.columns(style="text-align: center;")
      %h2= t('login-title')

%section.panel.radius
  .row
    .small-6.columns
      = form_tag login_path do
        .row
          .small-5.columns
            %label.right.inline(for='username')= t('user_controller.account.login')
          .small-7.columns
            = text_field_tag 'username', '', class: 'inline'

        .row
          .small-5.columns
            %label.right.inline(for='password')= t('user_controller.account.password')
          .small-7.columns
            = password_field_tag 'password', '', class: 'inline'

        .row
          .small-12.small-centered.columns(style="text-align: center;")
            = submit_tag 'Submit', class: 'button radius'

    .small-6.columns
      .row
        .small-12.small-centered.columns(style="text-align:center;")
          %i.fi-social-google-plus
          = link_to t('openid.login', provider: 'Google'), login_openid_google_url, class:'button radius'
        -#.row
        -#  .small-12.small-centered.columns(style="text-align:center;")
        -#    %span.button
        -#      (TODO) Login with PLGrid OpenId