%li
  %strong= t('infrastructure.information.cloud.sm_info.vm_id') + ': '
  =record.vm_id
%li
  %strong= t('infrastructure.information.cloud.sm_info.ssh_address') + ': '
  =(record.public_host ? "#{record.public_host}:#{record.public_ssh_port}" : t('infrastructure.information.sm_info.no_ssh_address')) + ', '
%li
  %strong= t('infrastructure.information.cloud.sm_info.login') + ': '
  =record.image_secrets.image_login.to_s