.content{'data-slug' => 'doe'}
  .panel.callout.radius
    %h5= t("experiments.new.doe_tab.info.header")
    %p= t("experiments.new.doe_tab.info.content")

  = form_tag '', class: 'custom' do
    .panel.radius
      .row
        .large-5.small-12.columns
          %label.right.inline
            = t('simulations.conduct.doe.create_group_label')
        .large-5.small-12.columns
          = select_tag 'doe_type', select_doe_type
        .large-2.small-12.columns
          %span#createDoeGroupBtn.button.expand.right.radius
            = t('simulations.conduct.doe.create_new_group')

%ul#doe-group-template.pricing-table(style="display: none;")
  %li.title Standard
  %li.price
    .row
      .large-9.small-12.columns
        = select_tag('parameters')
      .large-3.small-12.columns
        %span.button.expand.right.radius.add-parameter-btn
          = t('simulations.conduct.doe.add_parameter')
  %li.cta-button
    .row
      .large-3.small-12.columns.large-centered
        %span.button.expand.right.radius.delete-group-btn
          = t('simulations.conduct.doe.delete_group')
