.content{'data-slug' => 'parametrization_types', style: ''}
  %h3.subheader= t('simulations.conduct_experiment.parametrization_tab.header')

  %dl.accordion(data-accordion="")
    - parameter_id = 0
    - @simulation_input.each do |entity_group|
      %dd(entity-group-id="#{entity_group['id']}")
        %a(href="#panel_#{parameter_id}")
          = t('simulations.conduct_experiment.parametrization_tab.entity_group_header',
            label: entity_group['label'].blank? ? t('simulations.conduct_experiment.parametrization_tab.default_group') : entity_group['label'])

        .content.active{id: "panel_#{parameter_id}"}
          %p
            - entity_group['entities'].each do |entity|
              .row(style="text-align:center;")
                %h3.subheader= t('simulations.conduct_experiment.parametrization_tab.entity_header',
                  label: entity['label'].blank? ? t('simulations.conduct_experiment.parametrization_tab.default_entity') : entity['label'])

              %div(entity-id="#{entity['id']}")
                - entity['parameters'].each do |p|
                  - parameter_id += 1
                  - p['index'] = parameter_id
                  = render partial: 'experiments/new/parameter', object: p, locals: { entity_group: entity_group,
                    entity: entity, parameter_id: parameter_id }
