.fixed
  %nav.top-bar
    %section.top-bar-section
      %ul.title-area
        %li.has-dropdown.not-click
          %a(href="#{root_path}")
            %div(style="vertical-align: middle; padding-top:12px;")
              = image_tag 'scalarm-white.png', size: '140x30'
          %ul.dropdown
            %li
              %a{href: experiments_path}
                %i.fi-clipboard-pencil.small-link
                = t('.experiments_link')
            %li
              %a{href: simulations_path}
                %i.fi-page-add.small-link
                = t('.simulations_link')
            %li
              %a{href: infrastructures_path}
                %i.fi-cloud.small-link
                = t('.infrastructures_link')
    %section.top-bar-section
      %ul.left
        %li.divider

      - if content_for?(:navbar)
        = yield :navbar

      %ul.right
        %li
          %a(href="/login/login_openid_plgrid")
            %i.fi-burst.link{ title: t('.refresh_proxy')}
        %li.divider
        %li
          %a(href="#" onclick="$('.help').toggle(400, 'swing'); return false;")
            %i.fi-info.link{ title: t('.help_button') }
        %li.divider
        %li
          %a(href="#{user_controller_account_path}")
            %i.fi-torso.link{title: t('.account_link', login: @current_user.login)}
        %li.divider    
        %li
          %a(href="#{logout_path}" data-method="post")
            %i.fi-eject.link{ title: t('.logout_link') }