- unless @current_user.nil?
  .fixed
    %nav.top-bar
      %ul.title-area(style="margin-left: 5px; margin-right: 5px;")
        %li.name
          %h1= content_for?(:title) ? yield(:title) : t('title')

      %section.top-bar-section
        %ul.left
          %li.divider
          %li
            = link_to t('navbar.experiments_link'), experiments_path
          %li
            = link_to t('navbar.simulations_link'), simulations_path
          %li.divider

        - if content_for?(:navbar)
          = yield :navbar

        %ul.right
          %li.divider
          %li
            = link_to t('navbar.account_link', login: @current_user.login), user_controller_account_path
          %li
            = link_to t('navbar.logout_link'), logout_path, method: :post