%html
  %head
    = favicon_link_tag 'favicon.ico'
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    %title Scalarm
    = stylesheet_link_tag 'application'
    %link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')

  %body
    = render 'layouts/navbar' unless @current_user.nil?

    .row
      #panel.small-3.columns
        = yield :panel
      - content_for?(:panel) ? container='div.small-9.columns' : container="div"
      - haml_tag container do
        #wrapper
          .notice.alert-box.radius.success(style="display: none;")
          .panel.radius.callout.help(style="display: none;")
            = content_for?(:help) ? yield(:help) : t('help.no_help')
          = yield
        %footer
          .row
            .small-7.columns
              = raw t('copyright')
            .small-3.columns(style="padding-top: 7px;")
              = link_to image_tag('scalarm-blue-small.png'),
                'http://www.scalarm.com'
            .small-2.columns
              = link_to image_tag('cyfronet_logo.png', size: "92x64"),
                'http://www.cyfronet.pl'


    = javascript_include_tag 'application'
    :javascript
      $(function() {
        if(#{not flash[:notice].nil?}) {
          toastr['success']("#{flash[:notice]}");
        }
        if(#{not flash[:error].nil?}) {
          toastr['error']("#{flash[:error]}");
        }
        //$('#panel').affix();
        var factorHeight = 0.85;
        $("#panel .panel").height(window.innerHeight*factorHeight);
        window.onresize = function() {
          $("#panel .panel").height(window.innerHeight*factorHeight);
        };



        $.fn.dontScrollParent = function()
        {
            this.bind('mousewheel DOMMouseScroll',function(e)
            {
                var delta = e.originalEvent.wheelDelta || -e.originalEvent.detail;

                if (delta > 0 && $(this).scrollTop() <= 0) {
                  console.log("delta>0");
                  return false;
                }
                console.log("-----------");
                console.log($(this).scrollTop());
                console.log(this.scrollHeight - $(this).height());
                if (delta < 0 && $(this).scrollTop() >= this.scrollHeight - $(this).height()-25) {
                  console.log("delta<0");
                  return false;
                }

                return true;
            });
        }
        $('#panel .panel').dontScrollParent();


      });
    = yield :javascript
