<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : 'Scalarm' %></title>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ubuntu' %>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="wrapper">
      <header>
        <h1 id="site_title">Scalarm Experiment Manager</h1>

        <%= link_to image_tag('cyfronet_logo.png', style: 'float: right;'), 'http://www.cyfronet.pl' %>
        <%= link_to image_tag('eda_logo.png'), 'http://www.eda.europa.eu' %>
      </header>

      <div class="clearall"></div>

      <div class="notice alert-box radius success" style="display: none;">
        <%= flash[:notice] if flash[:notice] %>
      </div>
      <% content_for :javascript do %>
        <%= javascript_tag("$('.notice').show();") if flash[:notice]  %>
      <% end %>

      <div class="error alert-box alert radius" style="display: none;">
        <%= flash[:error] if flash[:error] %>
      </div>
      <% content_for :javascript do %>
        <%= javascript_tag("$('.error').show();") if flash[:error]  %>
      <% end %>


      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= content_for :javascript do %>
        <script>
          $(function() {
            if(<%= not flash[:notice].nil? %>) {
              setTimeout("window.hide_notice()", 10000);
            }
            if(<%= not flash[:error].nil? %>) {
              setTimeout("window.hide_error()", 20000);
            }
//             window.show_loading_notice();
          });
        </script>
    <% end %>

    <%= yield :javascript %>
  </body>
</html>
