%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    %title Scalarm
    = stylesheet_link_tag 'application'

  %body
    = render 'layouts/navbar'

    #wrapper
      %header
        .row
          .large-8.columns
            %h1
              = content_for?(:title) ? yield(:title) : t('title')
          .large-2.columns
            = link_to image_tag('cyfronet_logo.png'), 'http://www.cyfronet.pl'
          .large-2.columns
            = link_to image_tag('eda_logo.png'), 'http://www.eda.europa.eu'

      = yield

    = javascript_include_tag 'application'
    :javascript
      $(function() {
        if(#{not flash[:notice].nil?}) {
          toastr['success']("#{flash[:notice]}");
        }
        if(#{not flash[:error].nil?}) {
          toastr['error']("#{flash[:error]}");
        }
      });
    = yield :javascript
