<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />

  <title>Scalarm</title>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ubuntu' %>

  <link rel="stylesheet" href="/css/foundation.css" />
  <script src="/js/vendor/custom.modernizr.js"></script>

  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'overcast/jquery-ui-1.10.2.min.css' %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>

  <%= javascript_include_tag 'jquery/jquery-1.9.1.min.js' %>
  <%= javascript_include_tag 'jquery/jquery-ui-1.10.2.min.js' %>
  <%= javascript_include_tag 'application', 'simulations', 'jquery_ujs'%>

  <%= csrf_meta_tag %>
</head>

<body>

<%= render 'layouts/navbar' %>

<div id="wrapper">
  <header>
    <h1 id="site_title">Scalarm Experiment Manager</h1>

    <%= link_to image_tag('cyfronet_logo.png', style: 'float: right;'), 'http://www.cyfronet.pl' %>
    <%= link_to image_tag('eda_logo.png'), 'http://www.eda.europa.eu' %>
  </header>

  <div class="clearall"></div>

  <div class="notice" style="display: none;">
    <%= flash[:notice] if flash[:notice] %>
  </div>
  <%= javascript_tag("$('.notice').show();") if flash[:notice]  %>

  <div class="error" style="display: none;">
    <%= flash[:error] if flash[:error] %>
  </div>
  <%= javascript_tag("$('.error').show();") if flash[:error]  %>

  <%= yield %>
</div>

<script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>

</body>
</html>
